<form class="form" action="../pages/reporting-region--trust-level--reports" method="post">
    {{ govukCheckboxes({
    name: "regions",
    fieldset: {
        legend: {
        text: "Choose regions to view reports",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
        }
    },
    hint: {
        text: "Select all that apply"
    },
    items: [
        {
        value: "West Yorkshire",
        text: "West Yorkshire"
        },
        {
        value: "West Midlands",
        text: "West Midlands"
        },
        {
        value: "North East",
        text: "North East"
        },
        {
        value: "Greater",
        text: "Greater"
        }
    ]
    }) }}

    {{ govukButton({
        text: "View reports",
        classes: "govuk-!-margin-bottom-3"
    }) }}
</form>