{% set after %}
    {% include "../../data/walton-high/ala-ofsted-olderInspections_after.njk" %}
{% endset -%}

{% set before %}
    {% include "../../data/walton-high/ala-ofsted-olderInspections_before.njk" %}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "After September 2024",
      id: "ala-ofsted-olderInspections_after",
      panel: {
        html: after
      }
    },
    {
      label: "Before September 2024",
      id: "ala-ofsted-olderInspections_before",
      panel: {
        html: before
      }
    }
  ]
}) }}