{# Trust relationship manager contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Trust relationship manager"
    }
    },
    rows: [
    {
        key: {
            text: "Name"
        },
        value: {
            html: "Joe Blaggs"
        }
    },
    {
        key: {
            text: "Email address"
        },
        value: {
            html: "<a href='#'>joe.blaggs@education.gov.uk</a>"
        }
    }
    ]
}) }}