{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--grey"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining"
  }) }}
{% endset %}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Single Headline Grades (SHG)",
  captionClasses: "govuk-table__caption--m",
  classes: "ofsted-shg-table",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date joined",
      classes: "table-col--18",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Previous rating",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Current rating",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>School or academy name here</a>"
      },
      {
        text: "1 Aug 2021",
        attributes: {
          "data-sort-value": "210801"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: '<strong>' + 'Requires improvement' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Requires improvement"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Baking academy</a>"
      },
      {
        text: "1 Aug 2021",
        attributes: {
          "data-sort-value": "210801"
        }
      },
      {
        html: '<strong>' + 'Outstanding' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Chocolate academy</a>"
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        },
        classes: ""
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Fruity academy</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + beforeJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        html: '<strong>' + 'Inadequate' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Inadequate"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: '<strong>' + 'Inadequate' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + beforeJoiningTag,
        attributes: {
          "data-sort-value": "Inadequate"
        }
      },
      {
        html: '<strong>' + 'Outstanding' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Outstanding" 
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: '<strong>' + 'Outstanding' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Outstanding" 
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: '<strong>' + 'Inadequate' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Inadequate"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: '<strong>' + 'Requires improvement' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Requires improvement"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "18 Mar 2023",
        attributes: {
          "data-sort-value": "230319"
        }
      },
      {
        html: '<strong>' + 'Not yet inspected' + '</strong>',
        attributes: {
          "data-sort-value": "Not yet inspected" 
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "18 Mar 2023",
        attributes: {
          "data-sort-value": "230319"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + beforeJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        html: '<strong>' + 'Requires improvement' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Requires improvement"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "14 Feb 2022",
        attributes: {
          "data-sort-value": "220214"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + beforeJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        html: '<strong>' + 'Outstanding' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + beforeJoiningTag,
        attributes: {
          "data-sort-value": "Outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "14 Feb 2022",
        attributes: {
          "data-sort-value": "220214"
        }
      },
      {
        html: '<strong>' + 'Good' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        html: '<strong>' + 'Outstanding' + '</strong>' + '<br>' + '15 Jan 2022' + '<br>' + afterJoiningTag,
        attributes: {
          "data-sort-value": "Outstanding"
        }
      }
    ]
    
  ]
}) }}