<div class="govuk-button-group">

  {{ govukButton({
    text: "Start Academy prototype",
    href: "/197673-ALA-contacts/mvp/pages/ala-academy-dfeContacts.njk", 
    isStartButton: true
  }) }}

  {{ govukButton({
    text: "Start School prototype",
    href: "/197673-ALA-contacts/mvp/pages/ala-school-dfeContacts", 
    isStartButton: true
  }) }}

</div>

<p class="govuk-body">Created in Sprint 17, 05 March 2025 onwards</a>

<p class="govuk-body">Basic mocks for immediate sub-pages to provide contact details within a school, academy or DfE. Details include information like:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Regions group local authority lead
    </li>

    <li>
      Trust relationship manager
    </li>

    <li>
      Head teacher
    </li>

</ul>

<p class="govuk-body">Given the functionality of this prototype replicates that at a Trust level in the live product, the "edit" pathway is not fully functional. 
  However, success banner mocks can be found below:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      <a href="/197673-ALA-contacts/mvp/pages/ala-academy-dfeContacts--success.njk">Change a TRM detail (Academy)</a>
    </li>

    <li>
      <a href="/197673-ALA-contacts/mvp/pages/ala-school-dfeContacts--success.njk">Change a regions group LA lead detail (School)</a>
    </li>

</ul>
