<div class="govuk-button-group">

  {{ govukButton({
    text: "Start Academy prototype",
    href: "/197673-ALA-contacts/mvp/pages/ala-academy-shg", 
    isStartButton: true
  }) }}

  {{ govukButton({
    text: "Start School prototype",
    href: "/197673-ALA-contacts/mvp/pages/ala-school-shg", 
    isStartButton: true
  }) }}

</div>

<p class="govuk-body">Created in Sprint 17, 05 March 2025 onwards</a>

<p class="govuk-body">Basic mocks for immediate sub-pages to provide contact details within a school, academy or DfE. Details include information like:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Regions group local authority lead
    </li>

    <li>
      Trust relationship manager
    </li>

    <li>
      Head teacher
    </li>

</ul>
