{% extends "/193768-ofsted-shg/mvp/layouts/main.njk" %}

{% set pageTitle = "Abbey Academies Trust" %}
{% set pageHeading = pageTitle %}
{# {% set pageCaption = "Multi-academy trust" %} #}

{% block content %} 

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {# Start of trust content block #}

      {% block trustContent %}
        Text goes here, override this by overriding the block
      {% endblock %}

    </div>
  </div>

{% endblock %}

