{{ govukButton({
  text: "Start MvP prototype",
  href: "/189473-sources-updates/mvp/pages/pipelines-academies", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 12, 4 December 2024 onwards</a>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Alternative text label and wording within the existing detail component
    </li>

    <li>
      Link in the footer to a draft page, explaining where and how FIAT gathers its data from
    </li>

</ul>