{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class="govuk-body">
        <span class='govuk-!-font-weight-bold'>In DfE:</span>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li class="">
            Regions group LA lead was updated by Sara.GOWEN@EDUCATION.GOV.UK on 10 Jan 2025.
        </li>
    </ul>

    <p class="govuk-body">
        <span class='govuk-!-font-weight-bold'>In this school:</span>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li class="">
            Head teacher name taken from Get information about schools on 05 March 2025.
        </li>
    </ul>

{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}