{# <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
    MvP
</h3> #}

{{ govukButton({
  text: "Start MvP prototype",
  href: "/178572-change-dfe-contact/mvp/pages/contacts",
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 8, 9 October 2024 onwards</a>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
    Removal of side navigation
    </li>

    <li>
    Introduction of primary navigation
    </li>

    <li>
    Introduction of sub-navigation
    </li>

    <li>
    Expansion of tables (i.e. using the full width of the container)
    </li>

</ul>