//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Changes the container width from 960px to 1200px
.govuk-width-container { @include govuk-width-container; }

.govuk-template { background: white; }

.fiat-max-width-0 {
    max-width: none;
}

.report-container {
    max-width: 95%;
}

// Light blue header
.fiat-top {
    background-color: tint($color_dfe-secondary-blue, 90%);
}

.fiat-top--ala {
    background-color: tint(govuk-colour("purple"), 90%);
    // background-color: govuk-colour("purple");
}

.fiat-top--reporting {
    background-color: tint(govuk-colour("yellow"), 70%);
}

// Container for Trust heading and caption
.fiat-top-content {
    padding: 1rem 0 1rem 0;
}

// Trust heading title
.fiat-trust-heading {
    color: $color_dfe-blue;
    text-transform: uppercase;
}

// 171804 MoJ Sub nav component
.moj-sub-navigation__item {
    margin-bottom: 0;
}
// 171804-breadcrumbs
.breadcrumbs-171804 {
    li {
        @include govuk-font-size($size: 16);
    }
}

// 171804 Primary navigation
.govuk-service-navigation__list {
    font-weight: 600;
}

// 171804 RSD Footer
.rsd-footer-phase {
    border-bottom: 0;
    
    .govuk-phase-banner__content {
        @include govuk-font-size($size: 19);
    }
}

// 183585 Ofsted
.table-col--50 {
    width: 50%;
}

.table-col--25 {
    width: 25%;
}

.table-col--20 {
    width: 20%;
}

.table-col--18 {
    width: 18%;
}

.table-col--15 {
    width: 15%;
}

.table-col--13 {
    width: 13%;
}

.table-col--10 {
    width: 10%;
}

.ofsted-currentRating-table, .ofsted-headlines-table {
    .govuk-tag {
        width: 70%;
        text-align: center;
    }
}

// 193768-ofsted-shg
.ofsted-shg-table {
    td {
        line-height: 1.7;
    }
}

// 197320-ALA-pupils-tables
.pupil-capacity--table {
    th, td {
        text-align: left;
    }

    // th.year {
    //     @include govuk-font($size: 24);
    //     font-weight: bold;
    // }

    .border--start {
        @include govuk-responsive-padding(3, "left");
        border-left: 1px solid $govuk-border-colour;
    }

    .border--end {
        @include govuk-responsive-padding(3, "left");
        border-left: 1px solid $govuk-border-colour;
    }
}

// 190155-internal-use-only (also used in 200106-finance-docs)
.fiat-warning-banner-a {
    @include govuk-responsive-padding(2, "left");
    @include govuk-responsive-padding(2, "right");
    @include govuk-responsive-padding(1, "top");
    @include govuk-responsive-padding(1, "bottom");
    @include govuk-responsive-margin(6, "bottom");
    background-color: govuk-colour("black");

    .govuk-warning-text__icon {
        border: 3px solid govuk-colour("white");
        background-color: govuk-colour("white");
        color: govuk-colour("black");
    }

    .govuk-warning-text__text {
        color: govuk-colour("white");
    }
}

// reporting
.single-report {
    margin: 1.5em 0;
    padding-left: 1em; 
    padding-top: .5em; 
    padding-bottom: 1em;
    border-left: solid 3px tint(govuk-colour("yellow"), 50%); 
}

.report-table {
    border: 1px solid #b1b4b6;

    .govuk-table__header, .govuk-table__cell {
        padding: 10px 20px 10px 10px;
    }
}

.report-table-th {
    background-color: govuk-colour("light-grey");
}

.report-table-th--medium {
    min-width: 250px;
}

.report-table-th--long {
    min-width: 350px;
}

// small iterations
.si-row-colours-table {
    .govuk-table__head {
        background: #ebf2f6;
    }

    .govuk-table__header, .govuk-table__cell {
        padding-top: govuk-spacing(3);
        padding-right: govuk-spacing(3);
        padding-bottom: govuk-spacing(3);
        padding-left: govuk-spacing(3);
    }

    tr.govuk-table__row:nth-child(even) {
        background: #f6f6f6;
    }

}
.si-row-colours-table--no-background {
    tr.govuk-table__row:nth-child(even) {
        background: inherit;
    }
}

.si-row-colours-table--school {
    .govuk-table__head {
        background-color: tint(govuk-colour("purple"), 90%);
    }
}

.fast-notification {
    display: flex;
    justify-content: space-between;
    padding: govuk-spacing(3);
    margin: govuk-spacing(2) 0;

    p {
        margin-bottom: 0;
    }

    #fast-notification_close-button {
        color: $govuk-link-colour;
        // font-weight: bold;
        cursor: pointer;
    }

    .moj-badge {
        background: white;
    }
}

.fast-notification_content {
    display: flex;
    align-items: center;

    p {
        margin: 0;
        display: inline-block;
        margin-left: govuk-spacing(2);
        max-width: none;
    }
}

.fast-notification--yellow {
    border: 2px solid govuk-colour("yellow");
    background-color: tint(govuk-colour("yellow"), 80%);
}

.fast-notification--green {
    border: 2px solid govuk-colour("light-green");
    background-color: tint(govuk-colour("light-green"), 80%);
}

.fast-notification--blue {
    border: 2px solid govuk-colour("blue");
    background-color: tint(govuk-colour("blue"), 80%);
}

.fast-notification--turquoise {
    border: 2px solid govuk-colour("turquoise");
    background-color: tint(govuk-colour("turquoise"), 80%);
}

.fast-notification--light-purple {
    border: 2px solid govuk-colour("light-purple");
    background-color: tint(govuk-colour("light-purple"), 80%);
}

// report cards

.report-card__accordion {
    .govuk-accordion__controls {
        display: none;
    }
    .govuk-accordion__section {
        background-color: white;
    }
    .govuk-accordion__section-button {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.report-card_accordion--safeguarding {
    border: 2px solid govuk-colour("green") !important;
    padding: govuk-spacing(3); 
    
    .govuk-accordion__section-button {
        border-top: none !important;
    }
}

.govuk-accordion__section {
    background-color: tint(govuk-colour("light-grey"), 50%);
    // padding: govuk-spacing(3); this looks weird since the 'border' (shadow) is attributed to a different element, so it doesn't stretch with the padding

    .govuk-accordion__section-content {
        padding-bottom: govuk-spacing(5);
    }
}