//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Use Inter font
@import url('https://rsms.me/inter/inter.css');
$govuk-font-family: 'Inter', sans-serif;

// User Inter in tables (you need to apply the classes too)
.tableNumbers{
    font-feature-settings: 'tnum' 1, 'ss01' 1, 'zero' 1;
}

// Changes the container width from 960px to 1200px
.govuk-width-container { @include govuk-width-container; }

.fiat-max-width-0 {
    max-width: none;
}

// Light blue header
.fiat-top {
    background-color: tint($color_dfe-secondary-blue, 90%);
}

// Container for Trust heading and caption
.fiat-top-content {
    padding: 1rem 0 1rem 0;
}

// Trust heading title
.fiat-trust-heading {
    color: $color_dfe-blue;
    text-transform: uppercase;
}

// 171804 MoJ Sub nav component
.moj-sub-navigation__item {
    margin-bottom: 0;
}
// 171804-breadcrumbs
.breadcrumbs-171804 {
    li {
        @include govuk-font-size($size: 16);
    }
}

// 171804 Primary navigation
.govuk-service-navigation__list {
    font-weight: 600;
}

// 171804 RSD Footer
.rsd-footer-phase {
    border-bottom: 0;
    
    .govuk-phase-banner__content {
        @include govuk-font-size($size: 19);
    }
}