//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Changes the container width from 960px to 1200px
.govuk-width-container { @include govuk-width-container; }

.fiat-max-width-0 {
    max-width: none;
}

.report-container {
    max-width: 95%;
}

// Light blue header
.fiat-top {
    background-color: tint($color_dfe-secondary-blue, 90%);
}

.fiat-top--ala {
    background-color: tint(govuk-colour("purple"), 90%);
    // background-color: govuk-colour("purple");
}

.fiat-top--reporting {
    background-color: tint(govuk-colour("yellow"), 70%);
}

// Container for Trust heading and caption
.fiat-top-content {
    padding: 1rem 0 1rem 0;
}

// Trust heading title
.fiat-trust-heading {
    color: $color_dfe-blue;
    text-transform: uppercase;
}

// 171804 MoJ Sub nav component
.moj-sub-navigation__item {
    margin-bottom: 0;
}
// 171804-breadcrumbs
.breadcrumbs-171804 {
    li {
        @include govuk-font-size($size: 16);
    }
}

// 171804 Primary navigation
.govuk-service-navigation__list {
    font-weight: 600;
}

// 171804 RSD Footer
.rsd-footer-phase {
    border-bottom: 0;
    
    .govuk-phase-banner__content {
        @include govuk-font-size($size: 19);
    }
}

// 183585 Ofsted
.table-col--50 {
    width: 50%;
}

.table-col--25 {
    width: 25%;
}

.table-col--20 {
    width: 20%;
}

.table-col--18 {
    width: 18%;
}

.table-col--15 {
    width: 15%;
}

.table-col--10 {
    width: 10%;
}

.ofsted-currentRating-table, .ofsted-headlines-table {
    .govuk-tag {
        width: 70%;
        text-align: center;
    }
}

// 193768-ofsted-shg
.ofsted-shg-table {
    td {
        line-height: 1.7;
    }
}

// 197320-ALA-pupils-tables
.pupil-capacity--table {
    th, td {
        text-align: left;
    }

    // th.year {
    //     @include govuk-font($size: 24);
    //     font-weight: bold;
    // }

    .border--start {
        @include govuk-responsive-padding(3, "left");
        border-left: 1px solid $govuk-border-colour;
    }

    .border--end {
        @include govuk-responsive-padding(3, "left");
        border-left: 1px solid $govuk-border-colour;
    }
}

// 190155-internal-use-only (also used in 200106-finance-docs)
.fiat-warning-banner-a {
    @include govuk-responsive-padding(2, "left");
    @include govuk-responsive-padding(2, "right");
    @include govuk-responsive-padding(1, "top");
    @include govuk-responsive-padding(1, "bottom");
    @include govuk-responsive-margin(6, "bottom");
    background-color: govuk-colour("black");

    .govuk-warning-text__icon {
        border: 3px solid govuk-colour("white");
        background-color: govuk-colour("white");
        color: govuk-colour("black");
    }

    .govuk-warning-text__text {
        color: govuk-colour("white");
    }
}

// reporting
.single-report {
    margin: 1.5em 0;
    padding-left: 1em; 
    padding-top: .5em; 
    padding-bottom: 1em;
    border-left: solid 3px tint(govuk-colour("yellow"), 50%); 
}

.report-table {
    border: 1px solid #b1b4b6;

    .govuk-table__header, .govuk-table__cell {
        padding: 10px 20px 10px 10px;
    }
}

.report-table-th {
    background-color: govuk-colour("light-grey");
    min-width: 150px;
}
