{%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  head: [
    {
      text: ""
    },
    {
      text: "2025",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2024",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2023",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2022",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2021",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Number of pupils on role (NOR)"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "108",
        format: "numeric",
        attributes: {
          "data-sort-value": "108"
        }
      },
      {
        text: "105",
        format: "numeric",
        attributes: {
          "data-sort-value": "105"
        }
      },
      {
        text: "110",
        format: "numeric",
        attributes: {
          "data-sort-value": "110"
        }
      },
      {
        text: "112",
        format: "numeric",
        attributes: {
          "data-sort-value": "112"
        }
      }
    ],
    [
      {
        text: "Exclusions"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "0",
        format: "numeric",
        attributes: {
          "data-sort-value": "0"
        }
      },
      {
        text: "1%",
        format: "numeric",
        attributes: {
          "data-sort-value": "1"
        }
      },
      {
        text: "3%",
        format: "numeric",
        attributes: {
          "data-sort-value": "3"
        }
      },
      {
        text: "4",
        format: "numeric",
        attributes: {
          "data-sort-value": "4%"
        }
      }
    ],
    [
      {
        text: "Unauthorised absences"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "7%",
        format: "numeric",
        attributes: {
          "data-sort-value": "7%"
        }
      },
      {
        text: "5%",
        format: "numeric",
        attributes: {
          "data-sort-value": "5"
        }
      },
      {
        text: "6%",
        format: "numeric",
        attributes: {
          "data-sort-value": "6"
        }
      },
      {
        text: "3",
        format: "numeric",
        attributes: {
          "data-sort-value": "3%"
        }
      }
    ]
  ]
}) }}