<table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--s">Pupil capacity overview</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2025</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2023</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2022</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Number of pupils on role (NOR) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Number of pupils on role (NOR)</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">127</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">123</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">106</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">102</td>
        </tr>

        {# Capacity #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Capacity</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">268</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">268</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">246</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">102</td>

        </tr>

        {# % Full #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">% Full</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">47%</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">45%</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">43%</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">41%</td>
        </tr>

    </tbody>
</table>