<table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--s">Pupil capacity 2023</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Autumn</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Summer</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Spring</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Number of pupils on role (NOR) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Number of pupils on role (NOR)</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">105</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">122</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">118</td>
        </tr>

    </tbody>
</table>