{%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  head: [
    {
      text: ""
    },
    {
      text: "2025",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2024",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2023",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2022",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "2021",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Eligible pupils with EHC plan"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "10 (6%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "10"
        }
      },
      {
        text: "9 (5%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "9"
        }
      },
      {
        text: "8 (4%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "8"
        }
      },
      {
        text: "9 (6%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "9"
        }
      }
    ],
    [
      {
        text: "Eligible pupils with SEN support"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "15 (12%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "15"
        }
      },
      {
        text: "13 (11%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "13"
        }
      },
      {
        text: "10 (10%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "10"
        }
      },
      {
        text: "13 (10%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "13"
        }
      }
    ],
    [
      {
        text: "English as an additional language"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "4 (3%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "4"
        }
      },
      {
        text: "4 (3%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "4"
        }
      },
      {
        text: "4 (3%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "4"
        }
      },
      {
        text: "4 (3%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "4"
        }
      }
    ],
    [
      {
        text: "Eligibile for free school meals"
      },
      {
        text: "Not yet submitted",
        format: "numeric",
        attributes: {
          "data-sort-value": "not-yet-submitted"
        }
      },
      {
        text: "26 (17%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "26"
        }
      },
      {
        text: "26 (17%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "26"
        }
      },
      {
        text: "29 (19%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "29"
        }
      },
      {
        text: "22 (14%)",
        format: "numeric",
        attributes: {
          "data-sort-value": "22"
        }
      }
    ]
  ]
}) }}