{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Pre advisory board",
  captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "URN",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Age range",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Local authority ",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Project type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Proposed conversion or transfer date",
      classes: "table-col--20",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "School or academy name here"
      },
      {
        text: "12453",
        attributes: {
          "data-sort-value": "12453"
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Conversion",
        attributes: {
          "data-sort-value": "Conversion"
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ],
    [
      {
        html: "Baking academy"
      },
      {
        text: "47835",
        attributes: {
          "data-sort-value": "47835"
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Bristol",
        attributes: {
          "data-sort-value": "Bristol"
        }
      },
      {
        text: "Conversion",
        attributes: {
          "data-sort-value": "Conversion" 
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812" 
        }
      }
    ],
    [
      {
        html: "Chocolate academy"
      },
      {
        text: "37834",
        attributes: {
          "data-sort-value": "37834" 
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Birmingham",
        attributes: {
          "data-sort-value": "Birmingham"
        }
      },
      {
        text: "Transfer",
        attributes: {
          "data-sort-value": "Transfer" 
        }
      },
      {
        text: "12 Sep 2020",
        attributes: {
          "data-sort-value": "200912" 
        }
      }
    ],
    [
      {
        html: "Fruity academy"
      },
      {
        text: "86546",
        attributes: {
          "data-sort-value": "86546" 
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Transfer",
        attributes: {
          "data-sort-value": "Transfer" 
        }
      },
      {
        text: "Unconfirmed",
        attributes: {
          "data-sort-value": "Unconfirmed" 
        }
      }
    ],
    [
      {
        html: "Grunge academy"
      },
      {
        text: "74636",
        attributes: {
          "data-sort-value": "74636" 
        }
      },
      {
        text: "5-11",
        attributes: {
          "data-sort-value": "5-11"
        }
      },
      {
        text: "Leeds",
        attributes: {
          "data-sort-value": "Leeds"
        }
      },
      {
        text: "Conversion",
        attributes: {
          "data-sort-value": "Conversion" 
        }
      },
      {
        text: "18 Mar 2019",
        attributes: {
          "data-sort-value": "190318" 
        }
      }
    ],
    [
      {
        html: "Biscuit academy"
      },
      {
        text: "37472",
        attributes: {
          "data-sort-value": "37472" 
        }
      },
      {
        text: "5-11",
        attributes: {
          "data-sort-value": "5-11"
        }
      },
      {
        text: "Manchester",
        attributes: {
          "data-sort-value": "Manchester"
        }
      },
      {
        text: "Transfer",
        attributes: {
          "data-sort-value": "Transfer" 
        }
      },
      {
        text: "Unconfirmed",
        attributes: {
          "data-sort-value": "Unconfirmed"
        }
      }
    ]
    
  ]
}) }}