<table class="govuk-table pupil-capacity--table">
    
    <caption class="govuk-table__caption govuk-table__caption--m">Pupil attendance</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th colspan="3" scope="col" class="govuk-table__header govuk-!-text-align-centre border--start year">2025</th>
            <th scope="col" class="govuk-table__header border--end year">2024</th>
            <th scope="col" class="govuk-table__header year">2023</th>
            <th scope="col" class="govuk-table__header year">2022</th>
        </tr>

        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Census</span>
            </th>
            <th scope="col" class="govuk-table__header border--start">Autumn</th>
            <th scope="col" class="govuk-table__header">Summer</th>
            <th scope="col" class="govuk-table__header ">Spring</th>
            <th scope="col" class="govuk-table__header border--end">Autumn</th>
            <th scope="col" class="govuk-table__header">Autumn</th>
            <th scope="col" class="govuk-table__header">Autumn</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Exclusions #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Exclusions</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start">Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">2</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">3</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">3</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
        </tr>

        {# Unauthorised absences #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Unauthorised absences</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">12</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">7</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">6</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
        </tr>

    </tbody>
</table>