<table class="govuk-table pupil-capacity--table">
    
    <caption class="govuk-table__caption govuk-table__caption--m">Pupil capacity</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th colspan="3" scope="col" class="govuk-table__header govuk-!-text-align-centre border--start year">2025</th>
            <th scope="col" class="govuk-table__header border--end year">2024</th>
            <th scope="col" class="govuk-table__header year">2023</th>
            <th scope="col" class="govuk-table__header year">2022</th>
        </tr>

        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Census</span>
            </th>
            <th scope="col" class="govuk-table__header border--start">Autumn</th>
            <th scope="col" class="govuk-table__header">Summer</th>
            <th scope="col" class="govuk-table__header ">Spring</th>
            <th scope="col" class="govuk-table__header border--end">Autumn</th>
            <th scope="col" class="govuk-table__header">Autumn</th>
            <th scope="col" class="govuk-table__header">Autumn</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Eligible pupils with EHC plan #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Eligible pupils with EHC plan</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start">Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">12 (8%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">11 (6%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">12 (8%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">15 (10%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">13 (10%)</td>
        </tr>

        {# Eligible pupils with SEN support #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Eligible pupils with SEN support</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">16 (12%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">14 (11%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">17 (16%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">20 (18%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">19 (18%)</td>
        </tr>

        {# English is not first language #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">English is not first language</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">3 (2%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">3 (2%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">1 (1%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">1 (1%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">1 (1%)</td>
        </tr>

        {# Eligibile for free school meals #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Eligibile for free school meals</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">27 (18%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">27 (18%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">24 (16%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">22 (15%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">22 (15%)</td>
        </tr>

        {# LAC (Looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">LAC (Looked after children)</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">5 (4%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">5 (4%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">0 (0%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0 (0%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0 (0%)</td>
        </tr>

        {# PLAC (Post looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">PLAC (Post looked after children)</th>

            {# 2025 Autumn #}
            <td class="govuk-table__cell border--start" >Not yet submitted</td>

            {# 2025 Summer #}
            <td class="govuk-table__cell">0 (0%)</td>

            {# 2025 Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">0 (0%)</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric border--end">0 (0%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0 (0%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0 (0%)</td>
        </tr>

    </tbody>
</table>