<h3 class="govuk-heading-m">
    Contacts at DfE
</h3>

{# Success banner. Will show if default values are not being used - 
ideally needs fixing to check if user entered data has changed insted.
This is also showing if "Cancel" has been pressed - annoying. #}
{% if uriLastPart == "edit-trm" %}
    {% set sucessHTML %}
        <h3 class="govuk-notification-banner__heading">
            Changes saved
        </h3>
        {% if data['trmName'] != "Joe Bloggs" %} {# Need to check if session data has changed here #}
            <p class="govuk-body">Changes made to the Trust relationship manager name were successful.</p>
        {% endif %}
        {% if data['trmEmail'] != "joe.bloggs@education.gov.uk" %} {# Need to check if session data has changed here #}
            <p class="govuk-body">Changes made to the Trust relationship manager email address were successful.</p>
        {% endif %}
    {% endset %}

    {{ govukNotificationBanner({
        html: sucessHTML,
        type: "success"
    }) }}
{% endif %}

{# Trust relationship manager contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Trust relationship manager"
    },
    actions: {
        items: [
        {
            href: "journey-edit/edit-trm.njk",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
            text: "Name"
        },
        value: {
            html: data['trmName'] | default("Joe Bloggs")
        }
    },
    {
        key: {
            text: "Email address"
        },
        value: {
            html: data['trmEmail'] | default("<a href='mailto:joe.bloggs@education.gov.uk'>joe.bloggs@education.gov.uk</a>")
        }
    }
    ]
}) }}

{# SFSO (Schools financial support and oversight) lead #}
{{ govukSummaryList({
    card: {
    title: {
        text: "SFSO (Schools financial support and oversight) lead"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Jayne Bloggs"
        }
    },
    {
        key: {
        text: "Email address"
        },
        value: {
        html: "<a href='mailto:jayne.bloggs@education.gov.uk'>jayne.bloggs@education.gov.uk</a>"
        }
    }
    ]
}) }}