<h3 class="govuk-heading-m">
    Contacts at the trust
</h3>

{# Accounting officer contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Accounting officer"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Sarah Armitage"
        }
    },
    {
        key: {
        text: "Email address"
        },
        value: {
        html: "<a href='mailto:sarah.armitage@education.gov.uk'>sarah.armitage@education.gov.uk</a>"
        }
    }
    ]
}) }}

{# Chair of trustees contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Chair of trustees"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Chimmene Gaius-Assor"
        }
    },
    {
        key: {
        text: "Email address"
        },
        value: {
        html: "<a href='mailto:chimmene.gaius-assor@education.gov.uk'>chimmene.gaius-assor@education.gov.uk</a>"
        }
    }
    ]
}) }}

{# Chair of trustees contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Chair of trustees"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Otto Normalverbraucher"
        }
    },
    {
        key: {
        text: "Email address"
        },
        value: {
        html: "<a href='mailto:otto.normalverbraucher@education.gov.uk'>otto.normalverbraucher@education.gov.uk</a>"
        }
    }
    ]
}) }}