<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
    Graphs and charts exploration
</h2>

<p class="govuk-caption-m">
    Prototypes exploring the use of graphs and charts as alterantive views of date.
</p>

{% set graphsHighcharts %}
    {# graphs-highcharts #}
    {% include "/graphs/index-content/highcharts.njk" %}
{% endset %} 

{{ govukAccordion({
    id: "accordion-graphs-index",
    items: [
    {
        heading: {
        text: "Highcharts"
        },
        content: {
        html: graphsHighcharts
        }
    }
    ]
}) }}