{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "Prototype using Highcharts",
    href: "/graphs/highcharts/pages/page-academies-trust"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created from Sprint 4, Q2 August 2026</a>

<p class="govuk-body">Prototype exploring the use of Highcharts as a solution to implement a more visual view of academies data.</p>
