{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "Prototype 1 - Pupil numbers using Highcharts",
    href: "/graphs/highcharts-p1/pages/page-academies-trust"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created from Sprint 4, Q2 August 2026</a>

<p class="govuk-body">Using Highcharts as a solution to display data as a basic bar chart.</p>
