{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "Prototype 2 - Pupil numbers using Highcharts",
    href: "/graphs/highcharts-p2/pages/page-academies-trust"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created from Sprint 4, Q2 August 2026</a>

<p class="govuk-body">Exploring different types of graph and chart available with Highcharts.</p>
