{% extends "/la-2026/needs-a-ticket/layouts/home-page_layout.njk" %}

{# Set an active state on the appropraite primary nav item #}
{% set primNavActive = "home" %}

{% set pageTitle = "Find information about schools and trusts" %}
{% set pageHeading = pageTitle %}

{% block beforeContent %}
  
  {# Blue bit #}
  <div class="fiat-top govuk-!-padding-top-3 govuk-!-padding-bottom-5">
    <div class="govuk-width-container">

      {# Content #}
      {% include "/la-2026/needs-a-ticket/parts/home/hero.njk" %}

    </div>
  </div>

{% endblock %}

{# Custom block for the main content area of a home page #}
{% block homeContent %}

<div class="govuk-width-container">

    {# Signposts #}
    {% include "/la-2026/needs-a-ticket/parts/home/signposts.njk" %}

</div>
{% endblock %}