{# <h3 class="govuk-heading-m">Details</h2> #}

{{ govukTable({
  caption: "Current ratings",
  captionClasses: "govuk-table__caption--m",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "School name",
      classes: "table-col--25",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Before or after joining",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Quality of education",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Behaviour and attitudes",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Personal development",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Leadership and management",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Early years provision",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Sixth form provision",
      classes: "table-col--10",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Baking academy</a>"
      },
      {
        text: "After",
        attributes: {
          "data-sort-value": "after"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "After",
        attributes: {
          "data-sort-value": "after"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Chocolate academy</a>"
      },
      {
        text: "After",
        attributes: {
          "data-sort-value": "after"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "After",
        attributes: {
          "data-sort-value": "after"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
     {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Fruity academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>School or academy name here</a>"
      },
      {
        text: "After",
        attributes: {
          "data-sort-value": "after"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "Before",
        attributes: {
          "data-sort-value": "before"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ]
  ]
}) }}