{%- from "govuk/components/table/macro.njk" import govukTable -%}

{{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  classes: "report-table",
  caption: "Table",
  captionClasses: "govuk-visually-hidden",
  head: 
    [
    {
      text: "Trust name",
      classes: "report-table-th report-table-th--medium",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Academy name",
      classes: "report-table-th report-table-th--medium",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "URN",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Type",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Phase",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Age range",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Region",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Local authority",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Academy address",
      classes: "report-table-th report-table-th--medium",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Rural/Urban",
      classes: "report-table-th report-table-th--medium",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Has nursery classes",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Pupil numbers",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Pupil capacity",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "% Full",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "SEN Resourced provision number on roll",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "SEN Resourced provision capacity",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Special Educational Needs (SEN) unit number on roll",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Special Educational Needs (SEN) unit capacity",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Type of resourced provision (SEN)",
      classes: "report-table-th",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Type of SEN provision",
      classes: "report-table-th report-table-th--long",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Biscuit trust",
        attributes: {
          "data-sort-value": "Biscuit trust"
        }
      },
      {
        text: "Hobnob academy",
        attributes: {
          "data-sort-value": "Hobnob academy"
        }
      },
      {
        text: "23542",
        attributes: {
          "data-sort-value": "23542"
        }
      },
      {
        text: "Academy converter",
        attributes: {
          "data-sort-value": "Academy converter"
        }
      },
      {
        text: "Primary",
        attributes: {
          "data-sort-value": "Primary"
        }
      },
      {
        text: "2-11",
        attributes: {
          "data-sort-value": "2-11"
        }
      },
      {
        text: "West Yorkshire",
        attributes: {
          "data-sort-value": "West Yorkshire"
        }
      },
      {
        text: "Leeds City Council",
        attributes: {
          "data-sort-value": "Leeds City Council"
        }
      },
      {
        text: "123 Street name, Leeds, LS324JDF",
        attributes: {
          "data-sort-value": "123 Street name, Leeds, LS324JDF"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "Urban city and town"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "1083",
        attributes: {
          "data-sort-value": "1083"
        }
      },
      {
        text: "1083",
        attributes: {
          "data-sort-value": "1083"
        }
      },
      {
        text: "100%",
        attributes: {
          "data-sort-value": "100%"
        }
      },
      {
        text: "57",
        attributes: {
          "data-sort-value": "57"
        }
      },
      {
        text: "63",
        attributes: {
          "data-sort-value": "63"
        }
      },
      {
        text: "23",
        attributes: {
          "data-sort-value": "23"
        }
      },
      {
        text: "25",
        attributes: {
          "data-sort-value": "25"
        }
      },
      {
        text: "Resourced provision and SEN unit",
        attributes: {
          "data-sort-value": "Resourced provision and SEN unit"
        }
      },
      {
        html: "SpLD - Specific Learning Difficulty<br>
              VI - Vis Impairment<br>
              OTH - Other Difficulty/Disability<br>
              HI - Hearing Impairment<br>
              SLCN - Speech, language and Communication<br>
              ASD - Autistic Spectrum Disorder",
        attributes: {
          "data-sort-value": "SpLD - Specific Learning Difficulty
              VI - Vis Impairment
              OTH - Other Difficulty/Disability
              HI - Hearing Impairment
              SLCN - Speech, language and Communication
              ASD - Autistic Spectrum Disorder"
        }
      }
    ],
    [
      {
        text: "Chocolate trust",
        attributes: {
          "data-sort-value": "Chocolate trust"
        }
      },
      {
        text: "Galaxy school",
        attributes: {
          "data-sort-value": "Galaxy school"
        }
      },
      {
        text: "32542",
        attributes: {
          "data-sort-value": "32542"
        }
      },
      {
        text: "Academy sponsor led",
        attributes: {
          "data-sort-value": "Academy sponsor led"
        }
      },
      {
        text: "Primary",
        attributes: {
          "data-sort-value": "Primary"
        }
      },
      {
        text: "2-11",
        attributes: {
          "data-sort-value": "2-11"
        }
      },
      {
        text: "West Yorkshire",
        attributes: {
          "data-sort-value": "West Yorkshire"
        }
      },
      {
        text: "Bradford Council",
        attributes: {
          "data-sort-value": "Bradford Council"
        }
      },
      {
        text: "123 Street name, Bradford, LS324JDF",
        attributes: {
          "data-sort-value": "123 Street name, Bradford, LS324JDF"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "Urban city and town"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "3526",
        attributes: {
          "data-sort-value": "3526"
        }
      },
      {
        text: "3523",
        attributes: {
          "data-sort-value": "3523"
        }
      },
      {
        text: "89%",
        attributes: {
          "data-sort-value": "89%"
        }
      },
      {
        text: "62",
        attributes: {
          "data-sort-value": "62"
        }
      },
      {
        text: "65",
        attributes: {
          "data-sort-value": "65"
        }
      },
      {
        text: "20",
        attributes: {
          "data-sort-value": "20"
        }
      },
      {
        text: "25",
        attributes: {
          "data-sort-value": "25"
        }
      },
      {
        text: "Resourced provision and SEN unit",
        attributes: {
          "data-sort-value": "Resourced provision and SEN unit"
        }
      },
      {
        html: "SpLD - Specific Learning Difficulty<br>
              VI - Visual Impairment<br>
              OTH - Other Difficulty/Disability<br>
              HI - Hearing Impairment<br>
              SLCN - Speech, language and Communication<br>
              ASD - Autistic Spectrum Disorder",
        attributes: {
          "data-sort-value": "SpLD - Specific Learning Difficulty
              VI - Visual Impairment
              OTH - Other Difficulty/Disability
              HI - Hearing Impairment
              SLCN - Speech, language and Communication
              ASD - Autistic Spectrum Disorder"
        }
      }
    ],
    [
      {
        text: "Crispy trust",
        attributes: {
          "data-sort-value": "Crispy trust"
        }
      },
      {
        text: "Cheese and onion school",
        attributes: {
          "data-sort-value": "Cheese and onion school"
        }
      },
      {
        text: "26363",
        attributes: {
          "data-sort-value": "26363"
        }
      },
      {
        text: "Academy converter",
        attributes: {
          "data-sort-value": "Academy converter"
        }
      },
      {
        text: "Primary",
        attributes: {
          "data-sort-value": "Primary"
        }
      },
      {
        text: "4-11",
        attributes: {
          "data-sort-value": "4-11"
        }
      },
      {
        text: "West Yorkshire",
        attributes: {
          "data-sort-value": "West Yorkshire"
        }
      },
      {
        text: "Calderdale Council",
        attributes: {
          "data-sort-value": "Calderdale Council"
        }
      },
      {
        text: "123 Street name, Calderdale, LS324JDF",
        attributes: {
          "data-sort-value": "123 Street name, Calderdale, LS324JDF"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "Urban city and town"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "2415",
        attributes: {
          "data-sort-value": "2415"
        }
      },
      {
        text: "2404",
        attributes: {
          "data-sort-value": "2404"
        }
      },
      {
        text: "94%",
        attributes: {
          "data-sort-value": "94%"
        }
      },
      {
        text: "53",
        attributes: {
          "data-sort-value": "53"
        }
      },
      {
        text: "55",
        attributes: {
          "data-sort-value": "55"
        }
      },
      {
        text: "22",
        attributes: {
          "data-sort-value": "22"
        }
      },
      {
        text: "30",
        attributes: {
          "data-sort-value": "30"
        }
      },
      {
        text: "Resourced provision and SEN unit",
        attributes: {
          "data-sort-value": "Resourced provision and SEN unit"
        }
      },
      {
        html: "SpLD - Specific Learning Difficulty<br>
              VI - VIsual Impairment<br>
              OTH - Other Difficulty/Disability",
        attributes: {
          "data-sort-value": "SpLD - Specific Learning Difficulty
              VI - VIsual Impairment
              OTH - Other Difficulty/Disability"
        }
      }
    ],
    [
      {
        text: "Fruity trust",
        attributes: {
          "data-sort-value": "Fruity trust"
        }
      },
      {
        text: "Apple voluntary school",
        attributes: {
          "data-sort-value": "Apple voluntary school"
        }
      },
      {
        text: "34526",
        attributes: {
          "data-sort-value": "34526"
        }
      },
      {
        text: "Academy converter",
        attributes: {
          "data-sort-value": "Academy converter"
        }
      },
      {
        text: "Primary",
        attributes: {
          "data-sort-value": "Primary"
        }
      },
      {
        text: "4-11",
        attributes: {
          "data-sort-value": "4-11"
        }
      },
      {
        text: "West Yorkshire",
        attributes: {
          "data-sort-value": "West Yorkshire"
        }
      },
      {
        text: "Leeds City Council",
        attributes: {
          "data-sort-value": "Leeds City Council"
        }
      },
      {
        text: "123 Street name, Leeds, LS324JDF",
        attributes: {
          "data-sort-value": "123 Street name, Leeds, LS324JDF"
        }
      },
      {
        text: "Rural town and fringe",
        attributes: {
          "data-sort-value": "Rural town and fringe"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "2632",
        attributes: {
          "data-sort-value": "2632"
        }
      },
      {
        text: "2438",
        attributes: {
          "data-sort-value": "2438"
        }
      },
      {
        text: "85%",
        attributes: {
          "data-sort-value": "85%"
        }
      },
      {
        text: "68",
        attributes: {
          "data-sort-value": "68"
        }
      },
      {
        text: "70",
        attributes: {
          "data-sort-value": "70"
        }
      },
      {
        text: "30",
        attributes: {
          "data-sort-value": "30"
        }
      },
      {
        text: "35",
        attributes: {
          "data-sort-value": "35"
        }
      },
      {
        text: "Resourced provision and SEN unit",
        attributes: {
          "data-sort-value": "Resourced provision and SEN unit"
        }
      },
      {
        html: "SpLD - Specific Learning Difficulty<br>
          VI - VIsual Impairment<br>
          OTH - Other Difficulty/Disability<br>
          HI - Hearing Impairment<br>
          SLCN - Speech, language and Communication<br>
          ASD - Autistic Spectrum Disorder",
        attributes: {
          "data-sort-value": "SpLD - Specific Learning Difficulty
          VI - VIsual Impairment
          OTH - Other Difficulty/Disability
          HI - Hearing Impairment
          SLCN - Speech, language and Communication
          ASD - Autistic Spectrum Disorder"
        }
      }
    ],
    [
      {
        text: "Savory trust",
        attributes: {
          "data-sort-value": "Savory trust"
        }
      },
      {
        text: "Toastie academy",
        attributes: {
          "data-sort-value": "Toastie academy"
        }
      },
      {
        text: "25624",
        attributes: {
          "data-sort-value": "25624"
        }
      },
      {
        text: "Academy sponsor led",
        attributes: {
          "data-sort-value": "Academy sponsor led"
        }
      },
      {
        text: "Primary",
        attributes: {
          "data-sort-value": "Primary"
        }
      },
      {
        text: "4-11",
        attributes: {
          "data-sort-value": "4-11"
        }
      },
      {
        text: "West Yorkshire",
        attributes: {
          "data-sort-value": "West Yorkshire"
        }
      },
      {
        text: "Leeds City Council",
        attributes: {
          "data-sort-value": "Leeds City Council"
        }
      },
      {
        text: "123 Street name, Leeds, LS324JDF",
        attributes: {
          "data-sort-value": "123 Street name, Leeds, LS324JDF"
        }
      },
      {
        text: "Rural town and fringe",
        attributes: {
          "data-sort-value": "Rural town and fringe"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "1738",
        attributes: {
          "data-sort-value": "1738"
        }
      },
      {
        text: "1689",
        attributes: {
          "data-sort-value": "1689"
        }
      },
      {
        text: "92%",
        attributes: {
          "data-sort-value": "92%"
        }
      },
      {
        text: "66",
        attributes: {
          "data-sort-value": "66"
        }
      },
      {
        text: "70",
        attributes: {
          "data-sort-value": "70"
        }
      },
      {
        text: "30",
        attributes: {
          "data-sort-value": "30"
        }
      },
      {
        text: "35",
        attributes: {
          "data-sort-value": "35"
        }
      },
      {
        text: "Resourced provision and SEN unit",
        attributes: {
          "data-sort-value": "Resourced provision and SEN unit"
        }
      },
      {
        html: "OTH - Other Difficulty/Disability<br>
        HI - Hearing Impairment<br>
        SLCN - Speech, language and Communication",
        attributes: {
          "data-sort-value": "OTH - Other Difficulty/Disability
        HI - Hearing Impairment
        SLCN - Speech, language and Communication"
        }
      }
    ]
  ]
}) }}