{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'In this trust (12)',
    href: '',
    active: true if subNavActive == "in the trust"
  }, {
    text: 'Pipeline academies (6)',
    href: 'pipelines-academies',
    active: true if subNavActive == "pipeline"
  }
  ]
}) }}