{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of content #}
{% set actuals %}
  <h4 class="govuk-heading-s">Revenue reserve</h4>
  <p class="govuk-body">
    Accumulated unspent funds built up from previous years which can be used for running costs such as staffing and educational resources. 
  </p>
  <p class="govuk-body">
    Trusts can also spend their reserve on capital projects such as refurbishments, new buildings, or sports pitches. 
  </p>

  <h4 class="govuk-heading-s">Staff costs</h4>
  <p class="govuk-body">
    Total amount the trust spends on employing people. Includes teaching and non-teaching staff. 
  </p>

  <h4 class="govuk-heading-s">In-year balance</h4>
  <p class="govuk-body">Total income received during the year minus total expenditure spent during the year.</p>
  <p class="govuk-body">
    If income is greater than expenditure, the trust has a positive balance.
    <br>If expenditure is greater than income, the trust has a negative balance.
  </p>

  <h4 class="govuk-heading-s">Total revenue income</h4>
  <p class="govuk-body">
    The total amount the trust receives from all sources, to fund the day-to-day running of schools and services within the academic year.  
  </p>
  <p class="govuk-body">
    It is used for operational spending like staffing, teaching, utilities and learning resources. 
  </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: 'What these figures mean',
  html: actuals
}) }}





 

 
