{{ govukButton({
  text: "Start prototype",
  href: "/trust-ofsted/197709-short-inspections/pages/ofsted-shg"
}) }}

<p class="govuk-body">Created in Sprint 26, 03 July 2025</a>

<p class="govuk-body">Changes to the "Ofsted" table to accomodate a "Has recent short inspection" data point.</p>
