{% extends "/197673-ALA-contacts/mvp/layouts/main.njk" %}

{% set pageTitle = "Electronic and hip hop school" %}
{% set pageHeading = pageTitle %}
{% set pageCaption = "LA (local authority) maintained school" %}

{% block content %} 

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {# Start of school content block #}

      {% block schoolContent %}
        Text goes here, override this by overriding the block
      {% endblock %}

    </div>
  </div>

{% endblock %}

