{% extends "/197320-ALA-pupils-tables/mvp/layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "pupils" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "population" %}

{# Custom block for the main content area of a trust page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Pupils
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "../parts/pupils-sub_nav.njk" %}

  <h3 class="govuk-heading-m">Pupil population</h3>

  <p class="govuk-body">The following data is taken from the autumn census of each year, where available.</p>

  {# Table #}
  {% include "../tables/population.njk" %}

  {{ govukButton({
    text: "Download all pupil data",
    classes: "govuk-button--secondary",
    href: "#"
  }) }}

  {# Sources and updates #}
  {% include "/197320-ALA-pupils-tables/mvp/parts/sources-updates.njk" %}

{% endblock %}