{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of content #}
{% set reportCardNotAvailable %}
  <p class="govuk-body">From <strong>10 November 2025</strong>, Ofsted inspections used the report card system for state-funded school inspections.</p>
  <p class="govuk-body">Inspections that took place <strong>before</strong> this date use single headline grades.</p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: 'Why a report card might not be available',
  html: reportCardNotAvailable
}) }}
