{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "Draft 1 prototype",
    href: "/watchlist/283739-draft-1/pages/watchlist-schools"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created in Sprint 5, Q1 June 2026</a>

<p class="govuk-body">Initial prototype to test table headings and the splitting of establishment types.</p>
