<form class="form" action="../pages/reporting-region--trust-level--reports" method="post">
   
   {# North East #}
    {{ govukCheckboxes({
    name: "local-authorities",
    fieldset: {
        legend: {
        text: "Local authorities in the North East",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
        }
    },
    hint: {
        text: "Select all that apply"
    },
    items: [
        {
        value: "County Durham",
        text: "County Durham"
        },
        {
        value: "Darlington",
        text: "Darlington"
        },
        {
        value: "Gateshead",
        text: "Gateshead"
        },
        {
        value: "Hartlepool",
        text: "Hartlepool"
        },
        {
        value: "Middlesbrough",
        text: "Middlesbrough"
        },
        {
        value: "Newcastle upon Tyne",
        text: "Newcastle upon Tyne"
        },
        {
        value: "North Tyneside",
        text: "North Tyneside"
        },
        {
        value: "Northumberland",
        text: "Northumberland"
        },
        {
        value: "Redcar and Cleveland",
        text: "Redcar and Cleveland"
        },
        {
        value: "South Tyneside",
        text: "South Tyneside"
        },
        {
        value: "Stockton-on-Tees",
        text: "Stockton-on-Tees"
        },
        {
        divider: "or"
        },
        {
        value: " ",
        text: "I do not want to include data from any of these local authorities"
        }
    ]
    }) }}

    {# North West #}
    {{ govukCheckboxes({
    name: "local-authorities",
    fieldset: {
        legend: {
        text: "Local authorities in the North West",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
        }
    },
    hint: {
        text: "Select all that apply"
    },
    items: [
        {
        value: "Blackburn with Darwen",
        text: "Blackburn with Darwen"
        },
        {
        value: "Blackpool",
        text: "Blackpool"
        },
        {
        value: "Bolton",
        text: "Bolton"
        },
        {
        value: "Bury",
        text: "Bury"
        },
        {
        value: "Cheshire East",
        text: "Cheshire East"
        },
        {
        value: "Cheshire West and Chester",
        text: "Cheshire West and Chester"
        },
        {
        value: "Cumberland",
        text: "Cumberland"
        },
        {
        value: "Halton",
        text: "Halton"
        },
        {
        value: "Knowsley",
        text: "Knowsley"
        },
        {
        value: "Lancashire",
        text: "Lancashire"
        },
        {
        value: "Liverpool",
        text: "Liverpool"
        },
        {
        value: "Manchester",
        text: "Manchester"
        },
        {
        value: "Oldham",
        text: "Oldham"
        },
        {
        value: "Rochdale",
        text: "Rochdale"
        },
        {
        value: "Salford",
        text: "Salford"
        },
        {
        value: "Sefton",
        text: "Sefton"
        },
        {
        value: "St. Helens",
        text: "St. Helens"
        },
        {
        value: "Stockport",
        text: "Stockport"
        },
        {
        value: "Tameside",
        text: "Tameside"
        },
        {
        value: "Trafford",
        text: "Trafford"
        },
        {
        value: "Warrington",
        text: "Warrington"
        },
        {
        value: "Westmorland and Furness",
        text: "Westmorland and Furness"
        },
        {
        value: "Wigan",
        text: "Wigan"
        },
        {
        value: "Wirral",
        text: "Wirral"
        },
        {
        divider: "or"
        },
        {
        value: " ",
        text: "I do not want to include data from any of these local authorities"
        }
    ]
    }) }}

    {{ govukButton({
        text: "View reports",
        classes: "govuk-!-margin-bottom-3"
    }) }}
</form>

