{% extends "layouts/main.njk" %}

{% set pageTitle = "Abbey academies trust" %}
{% set pageHeading = pageTitle %}
{# {% set pageCaption = "Multi-academy trust" %} #}

{% block content %}

{% include "../../../parts/breadcrumbs.njk" %} 

  <div class="govuk-grid-row">
    <aside class="govuk-grid-column-one-quarter">

      {# Side navigation #}
      {% include "/178572-change-dfe-contact/mvp/parts/side-nav.njk" %}

    </aside>

    <div class="govuk-grid-column-three-quarters">

      {# Start of trust content block #}

      {% block trustContent %}
        Text goes here, override this by overriding the block
      {% endblock %}

    </div>
  </div>

{% endblock %}