<table class="govuk-table govuk-!-margin-bottom-0">
    
    <caption class="govuk-table__caption govuk-table__caption--m">SEN resource</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Number on roll</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Capacity</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Exclusions #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">SEN unit</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
        </tr>

        {# Unauthorised absences #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Resourced provision</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        </tr>

    </tbody>
</table>