<table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--s">Pupil attendance 2024</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Autumn</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Summer</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Spring</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Exclusions #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Exclusions</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">2%</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">3%</td>
        </tr>

        {# Unauthorised absences #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Unauthorised absences</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">7%</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">12%</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">7%</td>
        </tr>

    </tbody>
</table>