<table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--s">Pupil population overview</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2025</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2023</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2022</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Eligible pupils with EHC plan #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Eligible pupils with EHC plan</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">10 (6%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">9 (5%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">8 (4%)</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">9 (6%)</td>
        </tr>

        {# Eligible pupils with SEN support #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Eligible pupils with SEN support</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">15 (12%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">13 (11%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">10 (10%)</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">13 (10%)</td>

        </tr>

        {# % English is not first language #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">English is not first language</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (3%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">4 (3%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (3%)</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (3%)</td>
        </tr>

        {# % Eligibile for free school meals #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">Eligibile for free school meals</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">26 (17%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">26 (17%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">29 (19%)</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">22 (14%)</td>
        </tr>

        {# % LAC (Looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">LAC (Looked after children)</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (3%)</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">3 (2%)</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">3 (2%)</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">2 (1%)</td>
        </tr>

        {# % PLAC (Post looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">PLAC (Post looked after children)</th>

            {# 2025 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">Not yet submitted</td>

            {# 2024 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>

            {# 2023 #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">0</td>

            {# 2022 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>

            {# 2021 #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
        </tr>

    </tbody>
</table>