{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Effective safeguarding"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Category of concern"
      },
      value: {
        text: "Good"
      }
    }
  ]
}) }}