{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Date joined"
      },
      value: {
        text: "10 January 2012"
      }
    },{
      key: {
        text: "Current single headline grade"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Date of current inspection"
      },
      value: {
        text: "07 July 2021"
      }
    },{
      key: {
        text: "Previous single headline grade"
      },
      value: {
        text: "Not inspected"
      }
    },{
      key: {
        text: "Date of previous inspection"
      },
      value: {
        text: "Not inspected"
      }
    }
  ]
}) }}