{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        text: "Bourne Abbey C Of E Primary Academy, Abbey Road, Bourne, PE10 9EP"
      }
    },{
      key: {
        text: "Opened on"
      },
      value: {
        text: "17 February 2025"
      }
    },{
      key: {
        text: "Trust"
      },
      value: {
        html: trustLink
      }
    },{
      key: {
        text: "Region and territory"
      },
      value: {
        text: "Yorkshire"
      }
    },{
      key: {
        text: "Local authority"
      },
      value: {
        text: "Leeds"
      }
    },{
      key: {
        text: "Phase and age range"
      },
      value: {
        text: "Secondary school 11-18"
      }
    }
  ]
}) }}