{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--grey"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining"
  }) }}
{% endset %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Quality of education"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Behaviour and attitudes"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Personal development"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Leadership and management"
      },
      value: {
        text: "Good"
      }
    },{
      key: {
        text: "Early years provision"
      },
      value: {
        text: "Not available"
      }
    },{
      key: {
        text: "Sixth form provision"
      },
      value: {
        text: "Not available"
      }
    },{
      key: {
        html: "Before or after joining <br> the trust"
      },
      value: {
        html: beforeJoiningTag
      }
    }
  ]
}) }}