{# Set GIAS link example #}
{% set giasLink %}
  <a href="#" class="govuk-link">More information</a>
{% endset %}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Details",
  captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
  classes: "si-row-colours-table",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "URN",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date joined trust",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Local authority",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Rural or urban",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>Super sweet biscuit academy</a>"
      },
      {
        text: "12453",
        attributes: {
          "data-sort-value": "12453"
        }
      },
      {
        text: "1 Dec 2021",
        attributes: {
          "data-sort-value": "211201"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Academy converter",
        attributes: {
          "data-sort-value": "Academy converter"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Crunchy ginger nut school</a>"
      },
      {
        text: "36483",
        attributes: {
          "data-sort-value": "36483"
        }
      },
      {
        text: "14 Jan 2022",
        attributes: {
          "data-sort-value": "211201"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Academy sponser led",
        attributes: {
          "data-sort-value": "Academy sponser led"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Double chocolate bourbon academy</a>"
      },
      {
        text: "53762",
        attributes: {
          "data-sort-value": "53762"
        }
      },
      {
        text: "24 Mar 2018",
        attributes: {
          "data-sort-value": "211201"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Academy sponser led",
        attributes: {
          "data-sort-value": "Academy sponser led"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Scottish shortbread school</a>"
      },
      {
        text: "35162",
        attributes: {
          "data-sort-value": "35162"
        }
      },
      {
        text: "7 Feb 2021",
        attributes: {
          "data-sort-value": "211201"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Academy sponser led",
        attributes: {
          "data-sort-value": "Academy sponser led"
        }
      },
      {
        text: "Urban city and town",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ]
    
  ]
}) }}