<div class="govuk-button-group">
  {{ govukButton({
    text: "Start academy prototype",
    href: "/ala-overview/221337-religious-characteristics/pages/ala-academy-religion"
  }) }}

   {{ govukButton({
    text: "Start school prototype",
    href: "/ala-overview/221337-religious-characteristics/pages/ala-school-religion"
  }) }}
</div>

<p class="govuk-body">Created in Sprint 27, 17 July 2025</a>

<p class="govuk-body">Addition of "Religious characteristics" to academy and school records.</p>
