{# 221337-religious-characteristics #}
<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
    Academy and school overview
</h2>

<p class="govuk-caption-m">
    Level 1 overview page and its associated level 2 sub-pages.
</p>

{% set 197684governance %}
    {# 221337-religious-characteristics #}
    {% include "/ala-overview/index-content/221337-religious-characteristics.njk" %}
{% endset %}

{{ govukAccordion({
    id: "accordion-academies-schools-governance-index",
    items: [
    {
        heading: {
        text: "Religious characteristics"
        },
        content: {
        html: 197684governance
        }
    }
    ]
}) }}