{# mvp #}
<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
    Reporting
</h2>

<p class="govuk-caption-m">
    Providing users with a way of accessing groupings of data known as a "report".
</p>

{% set reportingMvP %}
    {# mvp #}
    {% include "/reporting/index-content/mvp.njk" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {# draft-1 #}
    {% include "/reporting/index-content/draft-1.njk" %}
{% endset %}

{{ govukAccordion({
    id: "accordion-reporting-index",
    items: [
    {
        heading: {
        text: "Pre-defined reports"
        },
        content: {
        html: reportingMvP
        }
    }
    ]
}) }}