{# <div class="govuk-button-group"> #}
  {# {{ govukButton({
    text: "Start draft-1 prototype",
    href: "/reporting/draft-1/pages/home"
  }) }} #}
{# </div> #}

<h3 class="govuk-heading">Draft 1</h3>

<p class="govuk-body">Created in Sprint 17</a>

<p class="govuk-body">Exploration of filtering "by page" to split Region and Local authority, before displaying report results.</p>
<p class="govuk-body">Also includes experimentation of a "FIAT Report"; an external web page with no branding, but still includes options to download or "Copy share link".</p>


<p class="govuk-body">
  <a class="govuk-link" href="/reporting/draft-1/pages/home">View the "Draft 1" prototype</a>
</p>