{# <div class="govuk-button-group"> #}
  {# {{ govukButton({
    text: "Start draft-1 prototype",
    href: "/reporting/draft-1/pages/home"
  }) }} #}
{# </div> #}

<h3 class="govuk-heading">Draft 1</h3>

<p class="govuk-body">Created in Sprint 16, 18 February 2025 onwards</a>

<p class="govuk-body">Basic mocks for immediate sub-pages to provide details about a school or academy, after a successful search. Details include information like:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Academy trust
    </li>

    <li>
      URN number
    </li>

    <li>
      Phase and age range
    </li>

    <li>
      SEN Provision
    </li>

</ul>

<p class="govuk-body">
  <a class="govuk-link" href="/reporting/draft-1/pages/home">View the "Draft 1" prototype</a>
</p>