{# <div class="govuk-button-group"> #}
  {{ govukButton({
    text: "Start reporting MvP prototype",
    href: "/reporting/mvp/pages/home"
  }) }}
{# </div> #}

<p class="govuk-body">Created in Sprint 20, 16 April 2025</a>

<p class="govuk-body">MvP to include an initial journey to a reporting page, as well as a pre-defined selection of reports.</p>
