<h3 class="govuk-heading">MvP</h3>

<p class="govuk-body">Created in Sprint 20, 16 April 2025</a>

<p class="govuk-body">Iteration on "Draft 1", merging Regions and Local authority into one journey. Uses multi select checkboxes to allow users to choose multiple regions and LAs.</p>

{{ govukButton({
    text: "Start reporting MvP prototype",
    href: "/reporting/mvp/pages/home"
  }) }}