{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Trust leadership (3)',
    href: '#',
    active: true
  }, {
    text: 'Trustees (7)',
    href: '#'
  }, {
    text: 'Members (5)',
    href: '#'
  }, {
    text: 'Historic members',
    href: '#'
  }
  ]
}) }}