{{ govukServiceNavigation({
    navigation: [
        {
        href: "#",
        text: "Overview"
        },
        {
        href: "#",
        text: "Contacts"
        },
        {
        href: "#",
        text: "Academies",
        active: true
        },
        {
        href: "#",
        text: "Finance"
        },
        {
        href: "#",
        text: "Governance"
        }
    ]
}) }}