{{ govukServiceNavigation({
    navigation: [
        {
        href: "#",
        text: "Overview"
        },
        {
        href: "contacts-at-dfe",
        text: "Contacts",
        active: true if navActive == "contacts"
        },
        {
        href: "academies",
        text: "Academies",
        active: true if navActive == "academies"
        },
        {
        href: "#",
        text: "Finance"
        },
        {
        href: "#",
        text: "Governance"
        }
    ]
}) }}