{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'In this trust',
    href: '#',
    active: true
  }, {
    text: 'In the pipeline',
    href: '#'
  }, {
    text: 'Past academies',
    href: '#'
  }, {
    text: 'Free schools',
    href: '#'
  }
  ]
}) }}