{% set detailsTable %}
    {% include "../tables/details.njk" %}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Details",
      id: "academy-details-table",
      panel: {
        html: detailsTable
      }
    },
    {
      label: "Ofsted ratings",
      id: "academy-ofsted-table",
      panel: {
        html: "Ofsted ratings table here"
      }
    },
    {
      label: "Pupil numbers",
      id: "academy-pupil-numbers-table",
      panel: {
        html: "Pupil numbers table here"
      }
    },
    {
      label: "Free school meals",
      id: "academy-free-school-table",
      panel: {
        html: "Free school meals table here"
      }
    }
  ]
}) }}