{% set preAdvisoryTable %}
    {% include "../tables/pre-advisory.njk" %}
{% endset -%}

{# {% set postAdvisoryTable %}
    {% include "../tables/post-advisory.njk" %}
{% endset -%}

{% set freeSchoolsTable %}
    {% include "../tables/free-schools.njk" %}
{% endset -%} #}

{{ govukTabs({
  items: [
    {
      label: "Pre advisory board (6)",
      id: "pipelines-pre-advisory-table",
      panel: {
        html: preAdvisoryTable
      }
    }
  ]
}) }}