<table class="govuk-table govuk-!-margin-bottom-0">
    
    <caption class="govuk-table__caption govuk-visually-hidden">Grades and inspection dates</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header">Date of inspection</th>
            <th scope="col" class="govuk-table__header">Grade</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Short inspection #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Recent short inspection</th>

            {# Date #}
            <td class="govuk-table__cell">17 March 2025</td>

            {# Grade #}
            <td class="govuk-table__cell">School remains good</td>
        </tr>

        {# Current full inspection #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Current full inspection</th>

            {# Date #}
            <td class="govuk-table__cell">07 July 2024</td>

            {# Grade #}
            <td class="govuk-table__cell">Good</td>
        </tr>

        {# Previous full inspection #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell ">Previous full inspection</th>

            {# Date #}
            <td class="govuk-table__cell">21 August 2021</td>

            {# Grade #}
            <td class="govuk-table__cell">Inadequate</td>
        </tr>

    </tbody>
</table>