<div class="govuk-button-group">

  {{ govukButton({
    text: "View 'Contacts' example",
    href: "/190155-internal-use-only/mvp/pages/contacts-at-trust", 
    isStartButton: true
  }) }}

  {{ govukButton({
    text: "View 'Management letters' example",
    href: "/190155-internal-use-only/mvp/pages/finance-letters", 
    isStartButton: true
  }) }}

</div>

<p class="govuk-body">Created in Sprint 16, 12 February 2025 onwards</a>

<p class="govuk-body">An iteration for our "Internal use only" messaging, aiming to be consistent and use the warning component only. Examples include the contacts page at a trust level, and management letter finance documentation.</p>
