{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of content #}
{% set catOfConcern %}
    <p class='govuk-body'>
      <span class="govuk-!-font-weight-bold">'Category of concern'</span> means that a school has been judged as inadequate for any key or provision judgement. The school either has serious weaknesses or requires special measures.
    </p>
    <p class='govuk-body'>
      <span class="govuk-!-font-weight-bold">'Effective safeguarding'</span> is judged by inspectors who examine how a school is implementing its safeguarding policies and processes and how it keeps them under review.
    </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: 'What does "Effective safeguarding" and "Category of concern" mean?',
  html: catOfConcern
}) }}