{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Details',
    href: 'ofsted-details',
    active: true if subNavActive == "details"
  }, {
    text: 'Sub-judgements',
    href: 'ofsted-subjudgements',
    active: true if subNavActive == "subjudgements"
  }
  ]
}) }}