{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'Headlines',
    href: 'ofsted-headlines',
    active: true if subNavActive == "headlines"
  },
  {
    text: 'Important dates',
    href: 'ofsted-dates',
    active: true if subNavActive == "dates"
  }, {
    text: 'Current ratings',
    href: 'ofsted-subjudgements',
    active: true if subNavActive == "subjudgements"
  },
  {
    text: 'Previous ratings',
    href: '#'
  }
  ]
}) }}