{% extends "/197673-ALA-contacts/mvp/layouts/academy_layout.njk" %}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "contacts" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "in-dfe" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <form action="../pages/ala-academy-dfeContacts--success" method="post" novalidate>

            {# Start fieldset #}
            {% call govukFieldset({
                legend: {
                    text: "Edit trust relationship manager details",
                    classes: "govuk-heading-l",
                    isPageHeading: true
                }
            }) %}

            {# Name #}
            {{ govukInput({
                label: {
                    text: "Full name",
                    classes: "govuk-label--m",
                    isPageHeading: false
                },
                id: "trm-name",
                classes: "govuk-!-width-two-thirds",
                value: "Joe Blaggs",
                spellcheck: false
            }) }}

            {# Email address #}
            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label--m",
                    isPageHeading: false
                },
                hint: {
                    text: "Only valid DfE email addresses can be used e.g. joe.bloggs@education.gov.uk"
                },
                id: "trm-email",
                classes: "govuk-!-width-two-thirds",
                value: "joe.blaggs@education.gov.uk"
            }) }}

            {# Page actions #}
            <div class="govuk-button-group">
                
                {# Primary button #}
                {{ govukButton({
                    text: "Save and continue"
                }) }}

                {# Cancel link #}
                <a class="govuk-link" href="../pages/ala-academy-dfeContacts">
                    Cancel
                </a>

            </div>

            {# End fieldset #}
            {% endcall %}

            </form>

        </div>
    </div>

{% endblock %}