{# <div class="govuk-button-group govuk-display-block"> #}
<ul class="govuk-list">
  <li>{{ govukButton({
    text: "Start Ofsted (Trust record) prototype",
    href: "/small-iterations/231513-row-colours/pages/ofsted-shg"
  }) }}</li>

  <li>{{ govukButton({
  text: "Start Academies (Trust record) prototype",
  href: "/small-iterations/231513-row-colours/pages/academies-in-trust"
  }) }}</li>

  <li>{{ govukButton({
  text: "Start Governance (School record) prototype",
  href: "/small-iterations/231513-row-colours/pages/ala-academy-current-governors"
  }) }}</li>
</ul>
{# </div> #}

<p class="govuk-body">Created in Sprint 29, 19 August 2025</a>

<p class="govuk-body">Experiment to help aid readability of complex tables.</p>
