{# <div class="govuk-button-group"> #}
  {{ govukButton({
    text: "Start prototype",
    href: "/small-iterations/231513-row-colours/pages/ala-academy-religion"
  }) }}
{# </div> #}

<p class="govuk-body">Created in Sprint 29, 19 August 2025</a>

<p class="govuk-body">Experiment to help aid readability of complex tables.</p>
