{# <div class="govuk-button-group govuk-display-block"> #}
<ul class="govuk-list">
  <li>{{ govukButton({
    text: "Start Ofsted (Trust record) prototype",
    href: "/small-iterations/232167-notification-banner/pages/ofsted-shg"
  }) }}</li>

  <li>{{ govukButton({
  text: "Start Academies (Trust record) prototype",
  href: "/small-iterations/232167-notification-banner/pages/academies-in-trust"
  }) }}</li>

  <li>{{ govukButton({
  text: "Start Details (School record) prototype",
  href: "/small-iterations/232167-notification-banner/pages/ala-academy-details"
  }) }}</li>
</ul>
{# </div> #}

<p class="govuk-body">Created in Sprint 29, 21 August 2025</a>

<p class="govuk-body">Experiment to help communicate new updates to users.</p>
