{# 231513-row-colours #}
<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
    Small iterations
</h2>

<p class="govuk-caption-m">
    Minor experiments and changes to help increase consistency and add polish to the product.
</p>

{% set 231513rowColours %}
    {# 231513-row-colours #}
    {% include "/small-iterations/index-content/231513-row-colours.njk" %}
{% endset %}

{% set 232167notificationBanner %}
    {# 232167-notification-banner #}
    {% include "/small-iterations/index-content/232167-notification-banner.njk" %}
{% endset %} 

{{ govukAccordion({
    id: "accordion-small-iteration-index",
    items: [
    {
        heading: {
        text: "Row colours"
        },
        content: {
        html: 231513rowColours
        }
    },
    {
        heading: {
        text: "Notification banner"
        },
        content: {
        html: 232167notificationBanner
        }
    }
    ]
}) }}