{% extends "/small-iterations/231513-row-colours/layouts/academy_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "overview" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "religion" %}

{# Custom block for the main content area of a trust page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Overview
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "/small-iterations/231513-row-colours/parts/ala-sub_nav-academy.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <h3 class="govuk-heading-m">Religious characteristics</h3>

    {# List of Religious characteristics #}
    {% include "/small-iterations/231513-row-colours/lists/ala-list-academy-religious-characteristics" %}

    <hr class="govuk-section-break govuk-section-break--m">

    {# Sources and updates #}
    {% include "/small-iterations/231513-row-colours/parts/ala-component-academy-sources-updates" %}

    </div>
  </div>

{% endblock %}