{# <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
    MvP
</h3> #}

{{ govukButton({
  text: "Start MvP prototype",
  href: "/183585-ofsted/mvp/pages/ofsted-subjudgements", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 9, 1 November 2024 onwards</a>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
    Restructure of Ofsted information, raising it up a level from "Academies in this trust", into the Service navigation (Level 1)
    </li>

    <li>
    Removal of Single Headline Judgements (SHJ)
    </li>

    <li>
    Introduction of two new tables, one to provide details/overview of Ofsted facts for academies and another to display subjudgements (aka Current ratings)
    </li>

    <li>
    Inclusion of a download button (hashed out), to talk around with users. Expected behaviour to download file containing all data and historic subjudgement if available
    </li>

</ul>