{{ govukTable({
  head: [
    {
      text: ""
    },
    {
      text: "Figure",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Percentage of total income",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<strong>Revenue reserve</strong>"
      },
      {
        text: "£100,000"
      },
      {
        text: "14%"
      }
    ],
    [
      {
        html: "<strong>Staff costs</strong>"
      },
      {
        text: "£80,000"
      },
      {
        text: "80%"
      }
    ],
    [
      {
        html: "<strong>In-year balance</strong>"
      },
      {
        text: "£20,000"
      },
      {
        text: "20%"
      }
    ],
    [
      {
        html: "<strong>Total income</strong>"
      },
      {
        text: "£500,000"
      },
      {
        text: "Not applicable"
      }
    ]
  ]
}) }} 