{# Title #}
<h1 class="govuk-heading-m">
    After September 2024
</h1>

{# Meta info #}
<p class="govuk-body">This inspection took place <strong>15 November 2025</strong>.</p>
<p class="govuk-body">This was <strong>after</strong> joining the trust.</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Quality of education",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Inadequate"
      }
    },
    {
      key: {
        text: "Behaviour and attitudes",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Requires improvement"
      }
    },
    {
      key: {
        text: "Personal development",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Inadequate"
      }
    },
    {
      key: {
        text: "Leadership and management",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Requires improvement"
      }
    },
    {
      key: {
        text: "Effective safeguarding",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Requires improvement"
      }
    },
    {
      key: {
        text: "Category of concern",
        classes: "govuk-!-width-one-half"
      },
      value: {
        text: "Requires improvement"
      }
    }
  ]
}) }}