{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--orange govuk-!-margin-top-2 govuk-!-margin-bottom-2"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining",
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-2"
  }) }}
{% endset %}

{{ govukTable({
  head: [
    {
      text: ""
    },
    {
      text: "Inspection type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of inspection",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<strong>Current inspection</strong>"
      },
      {
        text: "Older inspection"
      },
      {
        html: "16 May 2023" + "<br>" + beforeJoiningTag
      }
    ],
    [
      {
        html: "<strong>Short inspection</strong>"
      },
      {
        html: "No"
      },
      {
        html: "Not applicable"
      }
    ],
    [
      {
        html: "<strong>Previous inspection</strong>"
      },
      {
        text: "Older inspection"
      },
      {
        html: "25 September 2013" + "<br>" + beforeJoiningTag
      }
    ]
  ]
}) }} 