{{ govukButton({
  text: "Start MvP prototype",
  href: "/197320-ALA-pupils-tables/mvp/pages/pupils-capacity", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 14, 23 Janaury 2025 onwards</a>

<p class="govuk-body">Exploring table mocks, covering groupings of data such as:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Pupil attendance
    </li>

    <li>
      Pupil capacity
    </li>

    <li>
      Pupil population
    </li>

</ul>

<p class="govuk-body">
  A previous option for MvP can be found within the folder <a href="/197320-ALA-pupils-tables/mvp-a/pages/pupils-capacity">mvp-a</a>. 
  This includes:
</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      One table under each sub-page "Capacity", "Attendance" and "Percentage"
    </li>

    <li>
      A breakdown of seasonal census data for the current year only
    </li>

    <li>
      Data from the autumn census for previous years
    </li>

</ul>
