{{ govukButton({
  text: "Start MvP prototype",
  href: "/197320-ALA-pupils-tables/mvp/pages/pipelines-academies", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 14, 23 Janaury 2025 onwards</a>

<p>Exploring table mocks, covering groupings of data such as:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Pupil attendance
    </li>

    <li>
      Pupil capacity
    </li>

    <li>
      Pupil percentages
    </li>

</ul>