{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'In DfE',
    href: '#',
    active: true if subNavActive == "contacts-dfe"
  }, {
    text: 'In the trust',
    href: '#',
    active: true if subNavActive == "contacts-trust"
  }
  ]
}) }}