{% from "govuk/components/details/macro.njk" import govukDetails %}

{# If a name or email address has been set outside of the default Joe Bloggs, then set a 
currentData variable of today #}
{% if (data['trmName']) or (data['trmEmail']) %}
    {% set currentDate = "today" | govukDate %}
{% else %}
    {% set currentDate = "28 July 2024" %}
{% endif %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class="govuk-body">
        <span class='govuk-!-font-weight-bold'>In the trust:</span>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li class="">
            Accounting officer name taken from Get information about schools on 12 Feb 2025
        </li>
        <li class="">
            Chief financial officer name taken from Get information about schools on 12 Feb 2025
        </li>
        <li class="">
            Chair of trustees name taken from Get information about schools on 12 Feb 2025
        </li>
        <li class="">
            Accounting officer email taken from Get information about schools (internal use only, do not share outside of DfE) on 12 Feb 2025
        </li>
        <li class="">
            Chief financial officer email taken from Get information about schools (internal use only, do not share outside of DfE) on 12 Feb 2025
        </li>
        <li class="">
            Chair of trustees email taken from Get information about schools (internal use only, do not share outside of DfE) on 12 Feb 2025
        </li>
    </ul>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}