{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# GOV.UK Warning component #}
{{ govukWarningText({
  text: "Internal scrutiny reports are for internal use only.",
  iconFallbackText: "Warning",
  classes: "govuk-!-margin-bottom-0"
}) }}




