{% set reportingByVar = "" %}
{% if currentURL == '/reporting/mvp/pages/reporting-region-la--regions' or '/reporting/mvp/pages/reporting-region-la--las'  %}
    {% set reportingByVar = "Region and local authority" %}
{% endif %}

{{ govukBreadcrumbs({
    classes: "breadcrumbs-171804 govuk-!-margin-0",
    items: [
    {
        text: "Home",
        href: "#"
    },
    {
        text: "Reporting",
        href: "reporting"
    },
    {
        html: reportingByVar
    }
    ]
}) }}