{% set reportingByVar = "" %}
{% if currentURL == '/reporting/mvp/pages/reporting-la' %}
    {% set reportingByVar = "Local authority" %}
{% elseif currentURL == '/reporting/mvp/pages/reporting-region' %}
    {% set reportingByVar = "Region" %}
{% endif %}

{{ govukBreadcrumbs({
    classes: "breadcrumbs-171804 govuk-!-margin-0",
    items: [
    {
        text: "Home",
        href: "#"
    },
    {
        text: "Reporting",
        href: "reporting"
    },
    {
        html: reportingByVar
    }
    ]
}) }}