{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'Trust information',
    href: 'reporting-region--trust-level--reports',
    active: true if subNavActive == "trust-level"
  },
  {
    text: 'School and academy information',
    href: 'reporting-region--school-academy-level--reports',
    active: true if subNavActive == "school-academy-level"
  }
  ]
}) }}