{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'By region',
    href: 'reporting-region',
    active: true if subNavActive == "region"
  },
  {
    text: 'By local authority',
    href: 'reporting-local-authority',
    active: true if subNavActive == "local-authority"
  }
  ]
}) }}