{# Set up the macro by including the recurring bits for each item. HTMl may be easier than Nunjucks here. #}
{% macro signpostItem(title="'title'", description="'description'", link="'#'") %} 

<div class="dfe-card">
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href={{link}} class="govuk-link govuk-link--no-visited-state dfe-card-link--header">{{title}}</a>
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-0">{{description}}</p>
    </div>
</div>

{% endmacro %}

<div class="dfe-grid-container">
    {{ signpostItem(title="By region and local authority", description="Filter by region and select local authorities to view data something something something.", link="reporting-region-la--regions") }}
    {{ signpostItem(title="By SFSO (Schools financial support and oversight) lead", description="Filter by something something.", link="#") }}
    {{ signpostItem(title="By TRM (Trust relationship manager)", description="Filter by something something.", link="#") }}
    {{ signpostItem(title="By constituancy", description="Filter by constituancy to something something.", link="#") }}
    {# {{signpostItem(title="By local authority", description="Filter by local authority to view data something something something.", link="reporting-la")}} #}
</div>