{# <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
    MvP+
</h3> #}

<p class="govuk-body" style="background-color: yellow;">Created in Sprint X, XXX 2024</a>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
        Iterate content within rows where data is missing, to follow the standard GOV.UK pattern for <a href="Show missing information" class="govuk-link">Missing information"</a> by including a link for users to follow and enter the information manually, if they have it
    </li>

    <li>
        Remove the "Sources and updates" details component and instead strategically place the meta data in closer proximity to the information it is referring to
    </li>

    <li>
        If the user need arises, we have a plant to introduce the MoJ timeline component, as a way of surfacing backend audit trail information, to the front-end for users to access
    </li>

</ul>