{% extends "ofsted/report-cards-mvp-Feb26/layouts/ala_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set name of school #}
{% set pageTitle = "Walton High" %}

{# Set an active state on the appropraite primary nav item #}
{% set navActive = "ofsted" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "older_inspections" %}

{# Custom block for the main content area of a school page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Ofsted
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "ofsted/report-cards-mvp-Feb26/parts/ala-ofsted-sub_nav.njk" %}

  {# Subtitle #}
  <h3 class="govuk-heading-m">Older inspections (before November 2025)</h3>

  {# Missing report card guidance #}
  {% include "ofsted/report-cards-mvp-Feb26/parts/explainer-SHGnotAvailable.njk" %}

  <hr class="govuk-section-break govuk-section-break--m">

  {# Tabs #}
  {% include "ofsted/report-cards-mvp-Feb26/parts/walton-high/ala-ofsted-olderInspections_tabs.njk" %}

  <hr class="govuk-section-break govuk-section-break--s">

  <p class="govuk-body">
    <a class="govuk-link" href="#" target="_blank">See the inspection reports at Ofsted (Opens in a new tab)</a>
  </p>

  {{ govukButton({
      text: "Download all Ofsted data",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}

  {# Sources and updates #}
  {% include "ofsted/report-cards-mvp-Feb26/parts/ala-ofsted-sourcesUpdates.njk" %}

{% endblock %}