{# <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
    MvP
</h3> #}

{{ govukButton({
  text: "Start MvP prototype",
  href: "/pages/trusts/contacts",
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 6, 12 September 2024</a>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
    Grouping of contacts using headings rather than cards
    </li>

    <li>
    "Splitting" of individual contacts into their own summary cards
    </li>

    <li>
    Introduction of an additional row in each summary card, to seperate out "Name" and "Email address" data
    </li>

    <li>
    Introduction of action links to cards, to follow through to a traditional edit journey for "Name" and "Email address" fields
    </li>

    <li>
    Reformat information within "Sources and updates" to make it easier to read
    </li>
    
    <li>
    Include additional email validation to the "Email address" field on the edit page, to only allow @education.gov.uk addresses
    </li>

</ul>