{# Set before joining tag #}
{# {% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--orange govuk-!-margin-top-1"
  }) }}
{% endset %} #}

{# Set After joining tag #}
{# {% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining",
    classes: "govuk-!-margin-top-1"
  }) }}
{% endset %} #}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Current report cards",
  captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-5",
  classes: "si-row-colours-table",
  head: [
    {
      text: "School name",
      classes: "table-col--20",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Leadership and Governance",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Personal development and Wellbeing",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Curriculum and Teaching",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Inclusion",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Achievement",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Attendance and Behaviour",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Abbey Church of England Primary Academy</a>"
      },
      {
        text: "Needs attention",
        attributes: {
          "data-sort-value": "Needs attention"
        }
      },
      {
        text: "Exceptional",
        attributes: {
          "data-sort-value": "Exceptional"
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": "Needs attention"
        }
      },
      {
        html: 'Urgent Improvement',
        attributes: {
          "data-sort-value": "Urgent Improvement"
        }
      },
      {
        html: 'Strong standard',
        attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Elsea Park Church of England Primary Academy</a>"
      },
      {
        text: "Not applicable",
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        text: "Not applicable",
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": 'Not applicable'
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": 'Not applicable'
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": "Not applicable"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Colsterworth Church of England Primary School</a>"
      },
      {
        text: "Urgent Improvement",
        attributes: {
          "data-sort-value": "Urgent Improvement"
        }
      },
      {
        text: "Strong standard",
        attributes: {
          "data-sort-value": "Strong standard"
        }
      },
      {
        text: "Strong standard",
        attributes: {
          "data-sort-value": "Strong standard"
        }
      },
      {
        text: "Strong standard",
        attributes: {
          "data-sort-value": "Strong standard"
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Exceptional',
        attributes: {
          "data-sort-value": "Exceptional"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Grunge academy</a>"
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Biscuit academy</a>"
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Strawberry academy</a>"
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Coffee academy</a>"
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A longer name academy</a>"
      },
      {
        html: 'Exceptional',
         attributes: {
          "data-sort-value": "Exceptional" 
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another longer named academy</a>"
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": "Needs attention"
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Expected standard',
         attributes: {
          "data-sort-value": "Expected standard" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Needs attention',
        attributes: {
          "data-sort-value": 'Needs attention'
        }
      },
      {
        html: 'Strong standard',
         attributes: {
          "data-sort-value": "Strong standard" 
        }
      }
    ]
  ]
}) }}