<div class="govuk-button-group">
  {{ govukButton({
    text: "Start academy prototype",
    href: "/ala-governance/197684-governance-structure/pages/ala-academy-current-governors"
  }) }}

  {{ govukButton({
    text: "Start school prototype",
    href: "/ala-governance/197684-governance-structure/pages/ala-school-current-governors"
  }) }}
</div>

<p class="govuk-body">Created in Sprint 19, 2 April 2025</a>

<p class="govuk-body">Iteration 1 to include names, roles and appointment dates.</p>
