{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "Draft 1 prototype",
    href: "/finance-2026/289906-draft-1/pages/page-commissioning-form"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created from Sprint 1, Q2 July 2026</a>

<p class="govuk-body">Initial draft prototype of the three key pages within the new finance section, prior to content iteration with the SFSO team.</p>
