{% set preAdvisoryTable %}
    {% include "../tables/pre-advisory.njk" %}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Pre advisory board (6)",
      id: "pipelines-pre-advisory-table",
      panel: {
        html: preAdvisoryTable
      }
    },
    {
      label: "Post advisory board (3)",
      id: "pipelines-post-advisory-table"
    },
    {
      label: "Free schools (3)",
      id: "pipelines-free-schools-table"
    }
  ]
}) }}