{# <h3 class="govuk-heading-m">Details</h2> #}

{{ govukTable({
  caption: "Details",
  captionClasses: "govuk-table__caption--m",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "School name",
      classes: "ofsted-table--30",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Date joined",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Date of current inspection",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "descending"
      }
    },
    {
      text: "Date of previous inspection",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "descending"
      }
    },
    {
      text: "Effective safeguarding",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Category of concern",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>School or academy name here</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        text: "2 Mar 2024",
        attributes: {
          "data-sort-value": "240302"
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Baking academy</a>"
      },
      {
        text: "9 Aug 2011",
        attributes: {
          "data-sort-value": "110809"
        }
      },
      {
        text: "28 Mar 2024",
        attributes: {
          "data-sort-value": "240328" 
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812" 
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Chocolate academy</a>"
      },
      {
        text: "10 Feb 2011",
        attributes: {
          "data-sort-value": "110210" 
        }
      },
      {
        text: "15 Oct 2024",
        attributes: {
          "data-sort-value": "241015" 
        }
      },
      {
        text: "12 Sep 2020",
        attributes: {
          "data-sort-value": "200912" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Fruity academy</a>"
      },
      {
        text: "18 May 2014",
        attributes: {
          "data-sort-value": "140518" 
        }
      },
      {
        text: "25 July 2017",
        attributes: {
          "data-sort-value": "170725" 
        }
      },
      {
        text: "28 Oct 2016",
        attributes: {
          "data-sort-value": "161028" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "3 Aug 2011",
        attributes: {
          "data-sort-value": "110803" 
        }
      },
      {
        text: "15 Sep 2022",
        attributes: {
          "data-sort-value": "220915" 
        }
      },
      {
        text: "18 Mar 2019",
        attributes: {
          "data-sort-value": "190318" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801" 
        }
      },
      {
        text: "5 Nov 2024",
        attributes: {
          "data-sort-value": "241105" 
        }
      },
      {
        text: "12 Oct 2011",
        attributes: {
          "data-sort-value": "111012"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "1 Apr 2014",
        attributes: {
          "data-sort-value": "140401" 
        }
      },
      {
        text: "5 Nov 2018",
        attributes: {
          "data-sort-value": "181105" 
        }
      },
      {
        text: "12 Oct 2011",
        attributes: {
          "data-sort-value": "111012" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "12 June 2015",
        attributes: {
          "data-sort-value": "150612" 
        }
      },
      {
        text: "22 Feb 2021",
        attributes: {
          "data-sort-value": "210222" 
        }
      },
      {
        text: "12 March 2017",
        attributes: {
          "data-sort-value": "170312" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "3 Aug 2017",
        attributes: {
          "data-sort-value": "170803" 
        }
      },
      {
        text: "25 Oct 2020",
        attributes: {
          "data-sort-value": "201025" 
        }
      },
      {
        text: "12 Oct 2018",
        attributes: {
          "data-sort-value": "181012" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "16 May 2012",
        attributes: {
          "data-sort-value": "120516" 
        }
      },
      {
        text: "23 Aug 2023",
        attributes: {
          "data-sort-value": "230823" 
        }
      },
      {
        text: "12 March 2020",
        attributes: {
          "data-sort-value": "200312" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "8 Dec 2015",
        attributes: {
          "data-sort-value": "151208" 
        }
      },
      {
        text: "12 Sep 2016",
        attributes: {
          "data-sort-value": "160912" 
        }
      },
      {
        text: "18 Feb 2014",
        attributes: {
          "data-sort-value": "140218" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "13 March 2013",
        attributes: {
          "data-sort-value": "130313"
        }
      },
      {
        text: "22 Feb 2021",
        attributes: {
          "data-sort-value": "210222" 
        }
      },
      {
        text: "17 Jan 2020",
        attributes: {
          "data-sort-value": "200117" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801" 
        }
      },
      {
        text: "5 Nov 2024",
        attributes: {
          "data-sort-value": "241105" 
        }
      },
      {
        text: "12 Oct 2011",
        attributes: {
          "data-sort-value": "111012" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      }
    ]
    
  ]
}) }}