{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Headlines",
  captionClasses: "govuk-table__caption--m",
  head: [
    {
      text: "School name",
      classes: "ofsted-table--50",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date joined",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Effective safeguarding",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Category of concern",
      classes: "ofsted-table--15",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>School or academy name here</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Baking academy</a>"
      },
      {
        text: "9 Aug 2011",
        attributes: {
          "data-sort-value": "110809"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Chocolate academy</a>"
      },
      {
        text: "10 Feb 2011",
        attributes: {
          "data-sort-value": "110210" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Fruity academy</a>"
      },
      {
        text: "18 May 2014",
        attributes: {
          "data-sort-value": "140518" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "3 Aug 2011",
        attributes: {
          "data-sort-value": "110803" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "1 Apr 2014",
        attributes: {
          "data-sort-value": "140401" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "12 June 2015",
        attributes: {
          "data-sort-value": "150612" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "3 Aug 2017",
        attributes: {
          "data-sort-value": "170803" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "16 May 2012",
        attributes: {
          "data-sort-value": "120516" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "8 Dec 2015",
        attributes: {
          "data-sort-value": "151208" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "13 March 2013",
        attributes: {
          "data-sort-value": "130313"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      }
    ]
    
  ]
}) }}