{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before",
    classes: "govuk-tag--grey"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After"
  }) }}
{% endset %}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Safeguarding and concerns",
  captionClasses: "govuk-table__caption--m",
  classes: "ofsted-headlines-table",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Effective safeguarding",
      classes: "table-col--18",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Category of concern",
      classes: "table-col--18",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Before or after joining",
      classes: "table-col--18",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#' class='govuk-link'>School or academy name here</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        text: "Not available",
        attributes: {
          "data-sort-value": "Not available"
        }
      },
      {
        html: afterJoiningTag,
        attributes: {
          "data-sort-value": "after"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Baking academy</a>"
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "Not available",
        attributes: {
          "data-sort-value": "Not available"
        }
      },
      {
        html: afterJoiningTag,
        attributes: {
          "data-sort-value": "after"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Chocolate academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Special measures"
        }
      },
      {
        html: afterJoiningTag,
        attributes: {
          "data-sort-value": "after"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Fruity academy</a>"
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "Not available",
        attributes: {
          "data-sort-value": "Not available"
        }
      },
      {
        html: afterJoiningTag,
        attributes: {
          "data-sort-value": "after"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No" 
        }
      },
      {
        text: "Special measures",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      },
      {
        html: afterJoiningTag,
        attributes: {
          "data-sort-value": "after"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "Serious weakness",
        attributes: {
          "data-sort-value": "Serious weakness"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ],
    [
      {
        html: "<a href='#' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes" 
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: beforeJoiningTag,
        attributes: {
          "data-sort-value": "before"
        }
      }
    ]
    
  ]
}) }}