{# <h3 class="govuk-heading-m">Details</h2> #}

{{ govukTable({
  caption: "Sub-judgements",
  captionClasses: "govuk-table__caption--m",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "School name",
      classes: "ofsted-table--30",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Quality of education",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Behaviour and attitudes",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Personal development",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Leadership and management",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Early years provision",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Sixth form provision",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "A long name voluntary academy"
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "A longer name academy"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "Another academy with the longest name to test"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        text: "Another longer named academy"
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      }
    ],
    [
      {
        text: "Baking academy"
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "Biscuit academy"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        text: "Chocolate academy"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      }
    ],
    [
      {
        text: "Coffee academy"
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "inadequate"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
     {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      }
    ],
    [
      {
        text: "Fruity academy"
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "requires improvement"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "Grunge academy"
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "Orange voluntary academy"
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "School or academy name here"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ],
    [
      {
        text: "Strawberry academy"
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "good"
        }
      },
      {
        text: "No data",
        attributes: {
          "data-sort-value": "no data"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "outstanding"
        }
      }
    ]
  ]
}) }}