{{ govukButton({
  text: "Start prototype",
  href: "/trust-academies/205668-date-joined/pages/academies-in-trust", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 19, 25 March 2025</a>

<p class="govuk-body">Changes to the "Academies in this trust" table to accomodate a "Date joined trust" data point.</p>
