{{ govukButton({
  text: "Start prototype",
  href: "/trust-academies/224274-remove-gias-link/pages/academies-in-trust"
}) }}

<p class="govuk-body">Created in Sprint 27, 15 July 2025</a>

<p class="govuk-body">Removes the link to GIAS within the "Academies in this trust" table and iterates school names to become hyperlinks to the relevant school record within FAST.</p>
