{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Todays date in a variable #}
{% set currentDate = "today" | govukDate %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class='govuk-heading-s'>Overview</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            Single headline grades were taken from State-funded school inspections and outcomes: management information on {{ currentDate }} and Further education and skills inspections and outcomes: management information on {{ currentDate }}
        </li>
        <li>
            All inspection dates were taken from State-funded school inspections and outcomes: management information on {{ currentDate }} and Further education and skills inspections and outcomes: management information on {{ currentDate }}
        </li>
    </ul>
    
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}