{# <div class="govuk-button-group govuk-display-block"> #}
{# <ul class="govuk-list"> #}
{# <li> #}
    {{ govukButton({
    text: "LA Homepage prototype",
    href: "/la-2026/needs-a-ticket/pages/home"
  }) }}
{# </li> #}
{# </ul> #}
{# </div> #}

<p class="govuk-body">Created from Sprint 4, Q2 July 2026</a>

<p class="govuk-body">Initial draft prototype a new homepage for Local Authorities.</p>
