{# SFSO (Schools financial support and oversight) lead #}
{{ govukSummaryList({
    card: {
    title: {
        text: "SFSO (Schools financial support and oversight) lead"
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Jayne Bloggs"
        }
    },
    {
        key: {
            text: "Email address"
        },
        value: {
            html: "<a href='mailto:jayne.bloggs@education.gov.uk'>jayne.bloggs@education.gov.uk</a>"
        }
    }
    ]
}) }}

{# Trust relationship manager contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "TRM (Trust relationship manager)"
    }
    },
    rows: [
    {
        key: {
            text: "Name"
        },
        value: {
            html: "Joe Blaggs"
        }
    },
    {
        key: {
            text: "Email address"
        },
        value: {
            html: "<a href='#'>joe.blaggs@education.gov.uk</a>"
        }
    }
    ]
}) }}

{# Set guidance text #}
{% set guidanceEdit %}
    <p class="govuk-body">
        You must update <a href="#">the DfE contacts for the trust</a> to change these details.
    </p>
{% endset %}


{# Guidance for if a change needs to be made to either card #}
{{ govukInsetText({
  html: guidanceEdit
}) }}

