{% extends "ofsted/218440-report-cards/layouts/ala_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set name of school #}
{% set pageTitle = "Bourne Abbey Church of England Primary Academy" %}

{# Set an active state on the appropraite primary nav item #}
{% set navActive = "ofsted" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "overview" %}

{# Custom block for the main content area of a trust page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Ofsted
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "ofsted/218440-report-cards/parts/ala-ofsted-sub_nav.njk" %}

  <p class="govuk-body">This school joined the trust on <strong>18 July 2024</strong>.

  {# Has short inspection guidance #}
  {% include "ofsted/218440-report-cards/parts/explainer-ala-shortInspectionGuidance.njk" %}

  <hr class="govuk-section-break govuk-section-break--m">

  {# Subtitle #}
  <h3 class="govuk-heading-m">Overview</h3>

  {# Tables #}
  {% include "ofsted/218440-report-cards/data/bourne-abbey/ala-ofsted-overview_table.njk" %}

  <hr class="govuk-section-break govuk-section-break--s">

  <p class="govuk-body">
    <a class="govuk-link" href="#" target="_blank">See the inspection reports at Ofsted (Opens in a new tab)</a>
  </p>

  {{ govukButton({
      text: "Download all Ofsted data",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}

  {# Sources and updates #}
  {% include "ofsted/218440-report-cards/parts/ala-ofsted-sourcesUpdates.njk" %}

{% endblock %}