<div class="govuk-button-group">

  {{ govukButton({
    text: "Start Academy prototype",
    href: "/197692-ALA-ofsted/mvp/pages/ala-academy-shg", 
    isStartButton: true
  }) }}

  {{ govukButton({
    text: "Start School prototype",
    href: "/197692-ALA-ofsted/mvp/pages/ala-school-shg", 
    isStartButton: true
  }) }}

</div>

<p class="govuk-body">Created in Sprint 17, 04 March 2025 onwards</a>

<p class="govuk-body">Basic mocks for immediate sub-pages to provide Ofsted details about a school or academy. Details include information like:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      SHG (Single Headline Grades)
    </li>

    <li>
      Current ratings
    </li>

    <li>
      Previous ratings
    </li>

    <li>
      Safeguarding and concerns
    </li>

</ul>
