{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Religious authority"
      },
      value: {
        text: "Diocese of Nottingham"
      }
    },{
      key: {
        text: "Religious character"
      },
      value: {
        text: "Roman Catholic"
      }
    },{
      key: {
        text: "Religious ethos"
      },
      value: {
        text: "Church of England/Roman Catholic"
      }
    }
  ]
}) }}