{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Diocese"
      },
      value: {
        text: "Diocese of Leeds (ce)"
      }
    },{
      key: {
        text: "Religious character"
      },
      value: {
        text: "Catholic"
      }
    },{
      key: {
        text: "Religious name"
      },
      value: {
        text: "Roman Catholic"
      }
    }
  ]
}) }}