{% extends "layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{% set subPage = "Governance" %}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "governance" %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      <span class="govuk-caption-m">About the trust</span>
      Governance
  </h2>

  Governance content will go here

{% endblock %}