{% extends "layouts/main.njk" %}

{% set pageTitle = "Bishop perowne church of England college" %}
{% set pageHeading = pageTitle %}
{% set pageCaption = "Single-academy trust" %}

{% block content %}

<div class="govuk-grid-row">
  <aside class="govuk-grid-column-one-quarter">

    {# Side navigation - TO DO: Make dynamic #}
    {% include "/parts/side-nav.njk" %} 

  </aside>

  <div class="govuk-grid-column-three-quarters">
    
    <h2 class="govuk-heading-l">
      <span class="govuk-caption-m">About the trust</span>
      Contacts
    </h2>

    {# DfE Contacts - includes editable TRM and SFSO #}
    {% include "/parts/contacts-dfe.njk" %}

    <hr class="govuk-section-break govuk-section-break--l">

    {# Trust Contacts - includes Accounting officer, Chair of trustees and Chief financial officer #}
    {% include "/parts/contacts-trust.njk" %}

    <hr class="govuk-section-break govuk-section-break--l">

    {# Sources and updates #}
    {% include "/parts/sources-updates.njk" %}

  </div>
</div>

{% endblock %}
