{% extends "/189473-sources-updates/mvp/layouts/content_layout.njk" %}

{# Custom block for the main content area of this page #}
{% block contentContent %}

<p class="govuk-body">
    Find information about academies and trusts (FIAT) brings together data from different places.
</p>

<p class="govuk-body">
    The information you see on FIATs pages gets updated at different times depending on the type of data and when it becomes available.
</p>

<p class="govuk-body">
    For example, we update the information we take from Get information about schools once per day, but we only update Ofsted information once per year, after the latest inspection.
</p>

<h2 class="govuk-heading-m">
    Checking FIAT's data
</h2>

<p class="govuk-body">
    Pages that contain information FIAT takes from other places include an option to see where it came from.
</p>

<p class="govuk-body">
    Clicking this will show you:
</p>

<ul class="govuk-list govuk-list--bullet">

    <li>
        the original source of the data
    </li>

    <li>
        when it was last taken from there
    </li>

</ul>

{% endblock %}