{% extends "/200106-finance-docs/mvp/layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "finance" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "checklists" %}

{# Set guidance content variable #}
{% set explainerChecklists %}
  <p class="govuk-body">Trusts must submit a completed copy of the school resource management self-assessment checklist (SRMSAC) every year.</p>
  <p class="govuk-body">We use this to check the trust's financial management and performance against the needs set out in the 
    <a href="https://www.gov.uk/guidance/academy-trust-handbook" target="_blank">Academy trust handbook</a>.
  </p>
{% endset %}

{# Set guidance for document not expected #}
{% set docNotExpected %}
  {# <p class="govuk-body">We include links to any financial documents we have received in the last 3 years.</p>
  <p class="govuk-body">If a trust <strong>does not</strong> submit a document before the deadline we show this as 'not submitted' until we receive it.</p>
  <p class="govuk-body">The deadline for submitting a self assessment-checklist is 31 March.</p>
  <p class="govuk-body">If a document <strong>could not have been</strong> submitted, for example because a trust had not formed until after that year, we say that it was 'not expected'.</p>
  <p class="govuk-body">Financial statements cover one year from 1 September to 31 August.</p> #}
  For years where a document could not have been submitted, for example because a trust had not formed yet, we say that it was ‘not expected’.
{% endset %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      Financial documents
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "../parts/finance-sub_nav.njk" %}

  <h3 class="govuk-heading-m">Self-assessment checklists</h3>

  {# What is this document #}
  {# {{ explainerChecklists | safe }} #}

  {# <hr class="govuk-section-break govuk-section-break--m"> #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {# Links might not work! Guidance #}
    <p class="govuk-body">Bla bla bla what does it look like here.</p>

    {# Why a document might not be available #}
    {# {% include "/200106-finance-docs/mvp/parts/explainer-notExpected.njk" %} #}
    {{ govukDetails({
      summaryText: 'Why we might not expect a document',
      html: docNotExpected
    }) }}

    {# Internal use only warning #}
    <div class="fiat-warning-banner-a">
      {% include "/200106-finance-docs/mvp/parts/warning-InternalOnly-finance-checklists.njk" %}
    </div>

    {# List of docs #}
    {% include "/200106-finance-docs/mvp/lists/list-checklists.njk" %}

    <hr class="govuk-section-break govuk-section-break--m">

    {# Sources and updates #}
    {% include "/200106-finance-docs/mvp/parts/sourcesUpdates-checklists.njk" %}

    </div>
  </div>

{% endblock %}