{% extends "/200106-finance-docs/mvp/layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "finance" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "statements" %}

{# Set guidance content variable #}
{% set explainerStatements %}
  <p class="govuk-body">Trusts must submit a financial statement to us every year.</p>
  <p class="govuk-body">It includes information and independent reports on:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>governance</li>
    <li>trustees</li>
    <li>balance</li>
    <li>financial activity</li>
  </ul>
{% endset %}

{# Set guidance for document not expected #}
{% set docNotExpected %}
  {# <p class="govuk-body">We include links to any financial documents we have received in the last 3 years.</p>
  <p class="govuk-body">If a trust <strong>does not</strong> submit a document before the deadline we show this as 'not submitted' until we receive it.</p>
  <p class="govuk-body">The deadline for submitting a financial statement is 31 December.</p>
  <p class="govuk-body">If a document <strong>could not have been</strong> submitted, for example because a trust had not formed until after that year, we say that it was 'not expected'.</p>
  <p class="govuk-body">Financial statements cover one year from 1 September to 31 August.</p> #}
  For years where a document could not have been submitted, for example because a trust had not formed yet, we say that it was ‘not expected’.
{% endset %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      Financial documents
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "../parts/finance-sub_nav.njk" %}

  <h3 class="govuk-heading-m">Financial statements</h3>

<p>You must have permission to view these documents.</p>

<!--
  {# What is this document #}
  {# {{ explainerStatements | safe }} #}

  {# <hr class="govuk-section-break govuk-section-break--m"> #}
-->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!--      
    {# Why a document might not be available #}
    {# {% include "/200106-finance-docs/mvp/parts/explainer-notExpected.njk" %} #}
    {{ govukDetails({
      summaryText: 'Why we might not expect a document',
      html: docNotExpected
    }) }}
-->

    {# List of docs #}
    {% include "/200106-finance-docs/mvp/lists/list-statements.njk" %}

    {# <hr class="govuk-section-break govuk-section-break--s"> #}
    <hr class="govuk-section-break govuk-section-break--m">

    {# Sources and updates #}
    {% include "/200106-finance-docs/mvp/parts/aboutTheseDocs.njk" %}

    </div>
  </div>

{% endblock %}