{% extends "/finance-2026/289906-draft-1/layouts/main.njk" %}

{% set pageTitle = "Abbey Academies Trust" %}
{% set pageHeading = pageTitle %}

{% block content %} 

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {# Start of school content block #}

      {% block trustContent %}
        Text goes here, override this by overriding the block
      {% endblock %}

    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "../parts/rsd-footer.njk" %}
{% endblock %}
