{# Set up the macro by including the recurring bits for each item #}
{% macro singleReport(title="'title'", description="'description'", linktext="'linktext'", link="'#'") %} 

<div class="single-report">
    <h3 class="govuk-heading-s">{{title}}</h3>
    <p>{{description}}</p>
    {{ govukButton({
        text: linktext,
        href: link,
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
</div>

{% endmacro %}

<h2 class="govuk-heading-m">Trust level information</h2>

{{singleReport(title="Trust overview", description="Description about what is in this report (and maybe what isn't).", link="#", linktext="View trust overview report")}}
{{singleReport(title="Contacts", description="Description about what is in this report (and maybe what isn't).", link="#", linktext="View contacts report")}}
{{singleReport(title="Governance", description="Description about what is in this report (and maybe what isn't).", link="../reports/region/report-region-trust-governance", linktext="View governance report")}}