{% extends "ofsted/report-cards-mvp-Jan26/layouts/ala_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite primary nav item #}
{% set navActive = "ofsted" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "report_cards" %}

{# Custom block for the main content area of a school page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Ofsted
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "ofsted/report-cards-mvp-Jan26/parts/ala-ofsted-sub_nav.njk" %}

  {# Subtitle #}
  <h3 class="govuk-heading-m">Report cards</h3>

  {# Missing report card guidance #}
  {% include "ofsted/report-cards-mvp-Jan26/parts/explainer-ala-reportCardnotAvailable.njk" %}

  <hr class="govuk-section-break govuk-section-break--m">

  {# Tabs #}
  {% include "ofsted/report-cards-mvp-Jan26/parts/ala-ofsted-reportCards_tabs.njk" %}

  <hr class="govuk-section-break govuk-section-break--s">

  <p class="govuk-body">
    <a class="govuk-link" href="#" target="_blank">See the inspection reports at Ofsted (Opens in a new tab)</a>
  </p>

  {{ govukButton({
      text: "Download all Ofsted data",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}

  {# Sources and updates #}
  {% include "ofsted/report-cards-mvp-Jan26/parts/ala-ofsted-sourcesUpdates.njk" %}

{% endblock %}