{% extends "/small-iterations/232167-notification-banner/layouts/main-trust.njk" %}

{% set pageTitle = "Abbey Academies Trust" %}
{% set pageHeading = pageTitle %}

{% block content %} 

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {# Start of school content block #}

      {% block trustContent %}
        Text goes here, override this by overriding the block
      {% endblock %}

    </div>
  </div>

{% endblock %}

