{{ govukButton({
  text: "Start MvP prototype",
  href: "/197710-ALA-overview/mvp/pages/ala-academy-details", 
  isStartButton: true
}) }}

<p class="govuk-body">Created in Sprint 16, 18 February 2025 onwards</a>

<p class="govuk-body">Basic mocks for immediate sub-pages to provide details about a school or academy, after a successful search. Details include information like:</p>

<ul class="govuk-list govuk-list--bullet">
    
    <li>
      Academy trust
    </li>

    <li>
      URN number
    </li>

    <li>
      Phase and age range
    </li>

</ul>
