{% extends "/178572-change-dfe-contact/mvp/layouts/main.njk" %}

{% set pageTitle = "Abbey academies trust" %}
{% set pageHeading = pageTitle %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <span class="govuk-caption-m">Trust contacts</span>

            <form action="../contacts" method="post" novalidate>

            {# Start fieldset #}
            {% call govukFieldset({
                legend: {
                    text: "Edit trust relationship manager details",
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                }
            }) %}

            {# Name #}
            {{ govukInput({
                label: {
                    text: "Full name",
                    classes: "govuk-label--m",
                    isPageHeading: false
                },
                id: "trm-name",
                classes: "govuk-!-width-two-thirds",
                value: data['trmName'] | default("Joe Bloggs"),
                name: "trmName",
                spellcheck: false
            }) }}

            {# Email address #}
            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label--m",
                    isPageHeading: false
                },
                hint: {
                    text: "Only valid DfE email addresses can be used e.g. joe.bloggs@education.gov.uk"
                },
                id: "trm-email",
                classes: "govuk-!-width-two-thirds",
                value: data['trmEmail'] | default("joe.bloggs@education.gov.uk"),
                name: "trmEmail"
            }) }}

            {# Page actions #}
            <div class="govuk-button-group">
                
                {# Primary button #}
                {{ govukButton({
                    text: "Save and continue"
                }) }}

                {# Cancel link #}
                <a class="govuk-link" href="../contacts.njk">
                    Cancel
                </a>

            </div>

            {# End fieldset #}
            {% endcall %}

            </form>

        </div>
    </div>

{% endblock %}