<div id="details-chart-view" hidden>
  {{ govukButton({
    text: "View data in a table",
    classes: "govuk-button--secondary",
    attributes: {
      id: "details-show-table",
      type: "button"
    }
  }) }}

  <div id="details-chart" class="highcharts-light" style="width: 100%; height: 400px;"></div>

  <div class="govuk-inset-text govuk-!-margin-bottom-6 govuk-!-margin-top-3">
    <p id="details-type-description" class="govuk-body highcharts-description">
      Pie chart showing academies in this trust by type.
      Half are <span class="govuk-!-font-weight-bold">academy sponsor led</span> (2 of 4);
      one is a <span class="govuk-!-font-weight-bold">free school</span>
      and one is an <span class="govuk-!-font-weight-bold">academy converter</span>.
    </p>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div id="details-la-chart" class="highcharts-light" style="width: 100%; height: 400px;"></div>

  <div class="govuk-inset-text govuk-!-margin-bottom-0 govuk-!-margin-top-3">
    <p id="details-la-description" class="govuk-body highcharts-description">
      Pie chart showing academies in this trust by local authority.
      Half are in <span class="govuk-!-font-weight-bold">Darlington</span> (2 of 4);
      one is in <span class="govuk-!-font-weight-bold">Sheffield</span>
      and one is in <span class="govuk-!-font-weight-bold">London</span>.
    </p>
  </div>
</div>
