<div id="fsm-chart-view" hidden>
  {{ govukButton({
    text: "View data in a table",
    classes: "govuk-button--secondary",
    attributes: {
      id: "fsm-show-table",
      type: "button"
    }
  }) }}

  <div id="fsm-chart" class="highcharts-light" style="width: 100%; height: 400px;"></div>

  <div class="govuk-inset-text govuk-!-margin-bottom-0 govuk-!-margin-top-3">
    <p class="govuk-body highcharts-description">
      Bar chart comparing free school meal eligibility with local authority and national averages.
      <span class="govuk-!-font-weight-bold">Super sweet biscuit academy</span> is well above both averages;
      <span class="govuk-!-font-weight-bold">Scottish shortbread school</span> is closest to the national average.
    </p>
  </div>
</div>
