<div id="pupil-numbers-chart-view" hidden>
  {{ govukButton({
    text: "View data in a table",
    classes: "govuk-button--secondary",
    attributes: {
      id: "pupil-numbers-show-table",
      type: "button"
    }
  }) }}

  <div id="pupil-numbers-stacked-chart" class="highcharts-light" style="width: 100%; height: 400px;"></div>

  <div class="govuk-inset-text govuk-!-margin-bottom-0 govuk-!-margin-top-3">
    <p id="pupil-numbers-stacked-description" class="govuk-body highcharts-description">
      Stacked bar chart showing pupil numbers against capacity for each academy in this trust.
      <span class="govuk-!-font-weight-bold">Super sweet biscuit academy</span> is over capacity;
      <span class="govuk-!-font-weight-bold">Scottish shortbread school</span> has the most remaining capacity.
    </p>
  </div>

</div>
