{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Resourced provision number on roll",
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "57"
      }
    },{
      key: {
        text: "Resourced provision capacity",
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "63"
      }
    },{
      key: {
        text: "Special Educational Needs (SEN) unit number on roll",
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "20"
      }
    },{
      key: {
        text: "Special Educational Needs (SEN) unit capacity",
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "20"
      }
    }
  ]
}) }}