{% set senProvisionList %}
  <ul class="govuk-list">

    <li>
      SpLD - Specific Learning Difficulty
    </li>

    <li>
      VI - VIsual Impairment
    </li>

    <li>
      OTH - Other Difficulty/Disability
    </li>

    <li>
      HI - Hearing Impairment
    </li>

    <li>
      SLCN - Speech, language and Communication
    </li>

    <li>
      ASD - Autistic Spectrum Disorder
    </li>

    <li>
      SEMH - Social, Emotional and Mental Health
    </li>

    <li>
      MSI - Multi-Sensory Impairment
    </li>

    <li>
      PD - Physical Disability
    </li>

    <li>
      MLD - Moderate Learning Difficulty
    </li>

    <li>
      SLD - Severe Learning Difficulty
    </li>

    <li>
      PMLD - Profound and Multiple Learning Diffculty
    </li>

  </ul>
{% endset %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Type of resourced provision", 
        classes: "govuk-!-width-one-third"
      },
      value: {
        text: "Resourced provision and SEN unit"
      }
    },{
      key: {
        text: "Type of SEN provision", 
        classes: "govuk-!-width-one-third"
      },
      value: {
        html: senProvisionList
      }
    }
  ]
}) }}