{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Free schools",
  captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "URN",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Age range",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Local authority",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Project type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Provisional opening date",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "Academy of croissant"
      },
      {
        text: "12453",
        attributes: {
          "data-sort-value": "12453"
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Sheffield",
        attributes: {
          "data-sort-value": "Sheffield"
        }
      },
      {
        text: "Central",
        attributes: {
          "data-sort-value": "Central"
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812"
        }
      }
    ],
    [
      {
        html: "Coffee school"
      },
      {
        text: "47835",
        attributes: {
          "data-sort-value": "47835"
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Bristol",
        attributes: {
          "data-sort-value": "Bristol"
        }
      },
      {
        text: "Presumption",
        attributes: {
          "data-sort-value": "Presumption" 
        }
      },
      {
        text: "12 Aug 2011",
        attributes: {
          "data-sort-value": "110812" 
        }
      }
    ],
    [
      {
        html: "Another chocolate academy"
      },
      {
        text: "37834",
        attributes: {
          "data-sort-value": "37834" 
        }
      },
      {
        text: "4-16",
        attributes: {
          "data-sort-value": "4-16"
        }
      },
      {
        text: "Birmingham",
        attributes: {
          "data-sort-value": "Birmingham"
        }
      },
      {
        text: "Presumption",
        attributes: {
          "data-sort-value": "Presumption" 
        }
      },
      {
        text: "Unconfirmed",
        attributes: {
          "data-sort-value": "Unconfirmed" 
        }
      }
    ]
    
  ]
}) }}