{% extends "/reporting/mvp/layouts/home-page_layout.njk" %}

{# Custom block for the main content area of a trust page #}
{% block homeContent %}

  <h2 class="govuk-heading-l">
      Governance
  </h2>

{% endblock %}