{% set pageTitle = "Reporting by region" %}
{% set pageHeading = pageTitle %}
{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "school-academy-level" %}

{% extends "/reporting/mvp/layouts/reporting_layout.njk" %}

{% block reportingContent %}

    {# Nicer title for if only two regions are selected #}
    {% set regions = data['regions'] %}
    {% set reportTitle = "" %}
    {% for region in regions %}
        {% set reportTitle = regions | formatList %}
    {% endfor %}

    <h2 class="govuk-heading-m">Reports for {{ reportTitle }}</h2>

    <p class="govuk-caption">Including the following selected local authorities:</p>
    {# Also get local authority picks #}
    {% set localAuthorities = data['local-authorities'] %}
    <ul class="govuk-list govuk-list--bullet">
        {% for localAuthority in localAuthorities %}
            <li>{{ localAuthority }}</li>
        {% endfor %}
    </ul>

    {# Reporting subnav #}
    {% include "/reporting/mvp/parts/reporting-sub_nav.njk" %}

    {# Region, Trust level reports #}
    {% include "/reporting/mvp/parts/region-la/reports-region-school-academy-level.njk" %}

{% endblock %}