{% set pageTitle = "Reporting by local authority" %}
{% set pageHeading = pageTitle %}
{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "trust-level" %}

{% extends "/reporting/mvp/layouts/reporting_layout.njk" %}

{% block reportingContent %}

    {# Choose some local authorities #}
    {% include "/reporting/mvp/parts/la/checkboxes.njk" %}

{% endblock %}