{% set pageTitle = "By region" %}
{% set pageHeading = pageTitle %}
{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "trust-level" %}

{% extends "/reporting/mvp/layouts/reporting_layout.njk" %}

{% block reportingContent %}

    {# Choose a region #}
    {% include "/reporting/mvp/parts/region/select.njk" %}

    {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

{% if (data['region'] == "westyorkshire") %}
    {# Reporting subnav #}
    {% include "/reporting/mvp/parts/reporting-sub_nav.njk" %}

    {# Region, Trust level reports #}
    {% include "/reporting/mvp/parts/region/reports-trust-level.njk" %}
{% endif %}

{% endblock %}