{% set pageTitle = "Reporting by region" %}
{% set pageHeading = pageTitle %}
{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "trust-level" %}

{% extends "/reporting/mvp/layouts/reporting_layout.njk" %}

{% block reportingContent %}

{# Nicer title for if only two regions are selected #}
{% set regions = data['regions'] %}
{% set regionsArray = [] %}
{% set reportTitle = "" %}
    
{% for region in regions %}
    {% set regionsArray = (regionsArray.push(region), regionsArray) %}

            {% set reportTitle = regionsArray | formatList %}


{% endfor %}

<h2 class="govuk-heading-m">Reports for {{ reportTitle }}</h2>

    {# Reporting subnav #}
    {% include "/reporting/mvp/parts/reporting-sub_nav.njk" %}

    {# Region, Trust level reports #}
    {% include "/reporting/mvp/parts/region/reports-region-trust-level.njk" %}

{% endblock %}

{# {{ regions | last | replace(", ", "and", 1) }} #}