{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "URN (Unique Reference Number)", 
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "2044"
      }
    },{
      key: {
        text: "LAESTAB (local authority establishment number)", 
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "436464"
      }
    },{
      key: {
        text: "UKPRN (UK provider reference number)", 
        classes: "govuk-!-width-two-thirds"
      },
      value: {
        text: "10058308"
      }
    }
  ]
}) }}