{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Utopia of music federation"
      }
    },{
      key: {
        text: "URN (Unique Reference Number)"
      },
      value: {
        text: "2044"
      }
    },{
      key: {
        text: "Opened on"
      },
      value: {
        text: "17 February 2025"
      }
    }
  ]
}) }}