{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "URN (Unique Reference Number)"
      },
      value: {
        text: "2044"
      }
    },{
      key: {
        text: "LAESTAB (local authority establishment number)"
      },
      value: {
        text: "345332"
      }
    },{
      key: {
        text: "UKPRN (UK provider reference number)"
      },
      value: {
        text: "10058308"
      }
    }
  ]
}) }}