{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-0",
  rows: [
    {
      key: {
        text: "Resourced provision number on roll"
      },
      value: {
        text: "57"
      }
    },{
      key: {
        text: "Resourced provision capacity"
      },
      value: {
        text: "63"
      }
    },{
      key: {
        text: "Special Educational Needs (SEN) unit number on roll"
      },
      value: {
        text: "20"
      }
    },{
      key: {
        text: "Special Educational Needs (SEN) unit capacity"
      },
      value: {
        text: "20"
      }
    }
  ]
}) }}