{{ govukButton({
  text: "Start full prototype",
  href: "/ofsted/218440-report-cards/pages/trust-ofsted-overview"
}) }}

<p class="govuk-body">Created in Sprint 31, 15 September 2025</a>

<p class="govuk-body">Second draft, including:</p>
<ul>
  <li>
    Realistic but fake data
  </li>

  <li>
    Fully clickable and navigable (within the Ofsted section)
  </li>
</ul>