<div class="govuk-button-group govuk-display-block">
  {{ govukButton({
    text: "Start Trust record prototype",
    href: "/ofsted/218440-report-cards/pages/trust-ofsted-overview"
  }) }}
  {{ govukButton({
    text: "Start School record prototype",
    href: "/ofsted/218440-report-cards/pages/ala-ofsted-overview"
  }) }}
</div>

<p class="govuk-body">Created in Sprint 30, 10 September 2025</a>

<p class="govuk-body">First draft, including:</p>

<ul>
  <li>
    Reworked level 2 navigation
  </li>

  <li>
    Introduction of tabs to accomodate multiple tables per sub-page
  </li>
</ul>
