{{ govukButton({
  text: "Start full prototype",
  href: "/ofsted/report-cards-mvp-Jan26/pages/trust-ofsted-overview"
}) }}

<p class="govuk-body">Created in January 2026</a>

<p class="govuk-body">MvP draft given we will not recieve the new Report card "Narrative" in the first set of live data</p>