{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Academy details',
    href: 'ala-academy-details',
    active: true if subNavActive == "details"
  }, {
    text: 'Reference numbers',
    href: 'ala-academy-reference-numbers',
    active: true if subNavActive == "reference-numbers"
  }
  ]
}) }}