<h3 class="govuk-heading-m">Schools in this federation</h3>

<ul class="govuk-list govuk-list--bullet">

    <li>
        <a href="#" target="_blank" class="govuk-link">Stylophone school</a>
    </li>

    <li>
        <a href="#" target="_blank" class="govuk-link">Balalaika school</a>
    </li>

    <li>
        <a href="#" target="_blank" class="govuk-link">Theremin school</a>
    </li>

    <li>
        <a href="#" target="_blank" class="govuk-link">Didgeridoo school</a>
    </li>

</ul>