{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set containerClasses = "report-container" %}
{% block content %}
  {# Back link if users don't want reports to open in a new tab #}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();",
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}

  <h1 class="govuk-heading-l">School and academy contacts within the West Yorkshire region</h1>

  <div class="govuk-button-group govuk-!-margin-top-3">
    {# Download data #}
    <a href="/public/downloads/Proto-Region-SA-Contacts-2025-04-23.csv" class="govuk-button">
      Download CSV (15.51 MB)
    </a>

    {# Copy link #}
    <a href="" id="js-copy-link-btn" class="govuk-link">Copy share link</a>
  </div>

  {# Report data #}
  {% include "/reporting/mvp/tables/region/table-region-ala-contacts.njk" %}

{% endblock %}