{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% set containerClasses = "report-container" %}
{% block content %}
  {# Back link if users don't want reports to open in a new tab #}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();",
    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-5"
  }) }}

  <h1 class="govuk-heading-l">School and academy overview within the West Yorkshire region</h1>

  <div class="govuk-button-group govuk-!-margin-top-3">
    {# Download data #}
    <a href="/public/downloads/Proto-Region-SA-Overview-2025-04-30.csv" class="govuk-button">
      Download fields, CSV 15.51 MB
    </a>

    {# Copy link #}
    <a href="#" class="govuk-link">Copy share link</a>
  </div>

  {# Report data #}
  {% include "/reporting/mvp/tables/region/table-region-ala-overview.njk" %}

{% endblock %}