{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--orange govuk-!-margin-top-1"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining",
    classes: "govuk-!-margin-top-1"
  }) }}
{% endset %}

{{ govukTable({
  head: [
    {
      text: ""
    },
    {
      text: "Inspection type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of inspection",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Current inspection"
      },
      {
        text: "Report card"
      },
      {
        html: "10 November 2025" + "<br>" + afterJoiningTag
      }
    ],
    [
      {
        text: "Short inspection"
      },
      {
        text: "Short inspection" 
      },
      {
        html: "31 January 2024" + "<br>" + afterJoiningTag
      }
    ],
    [
      {
        text: "Previous inspection"
      },
      {
        text: "Single headline grade"
      },
      {
        html: "6 March 2024" + "<br>" + beforeJoiningTag
      }
    ]
  ]
}) }} 