{# Set before joining tag #}
{% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--orange govuk-!-margin-top-1"
  }) }}
{% endset %}

{# Set After joining tag #}
{% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining",
    classes: "govuk-!-margin-top-1"
  }) }}
{% endset %}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Overview",
  captionClasses: "govuk-table__caption--m",
  classes: "si-row-colours-table",
  head: [
    {
      text: "School name",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date joined",
      classes: "table-col--13",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Has recent short inspection",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Current inspection type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of current inspection",
      classes: "table-col--13",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Previous inspection type",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Date of previous inspection",
      classes: "table-col--13",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Abbey Church of England Primary Academy</a>"
      },
      {
        text: "1 Aug 2021",
        attributes: {
          "data-sort-value": "210801"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": "Report card"
        }
      },
      {
        html: '1 Jan 2025',
        attributes: {
          "data-sort-value": "1 Jan 2025"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection" 
        }
      },
      {
        html: '15 Jan 2022',
         attributes: {
          "data-sort-value": "220115" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Elsea Park Church of England Primary Academy</a>"
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": 'Full inspection'
        }
      },
      {
        html: '15 Jan 2029',
        attributes: {
          "data-sort-value": "290115"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": 'Full inspection'
        }
      },
      {
        html: '15 Jan 2025',
        attributes: {
          "data-sort-value": "250115"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Colsterworth Church of England Primary School</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        html: '3 Dec 2026',
        attributes: {
          "data-sort-value": "261203"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        html: '13 Dec 2025',
        attributes: {
          "data-sort-value": "261203"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Grunge academy</a>"
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        html: '15 Jan 2025',
        attributes: {
          "data-sort-value": "250115"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        html: '15 Jan 2022',
        attributes: {
          "data-sort-value": "220115"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Biscuit academy</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Strawberry academy</a>"
      },
      {
        text: "21 Oct 2023",
        attributes: {
          "data-sort-value": "231021"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Coffee academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A longer name academy</a>"
      },
      {
        text: "18 Mar 2023",
        attributes: {
          "data-sort-value": "230319"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        text: "15 Jan 2025",
        attributes: {
          "data-sort-value": "250115"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected" 
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another longer named academy</a>"
      },
      {
        text: "11 Jan 2023",
        attributes: {
          "data-sort-value": "230111"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        text: "15 Jan 2023",
        attributes: {
          "data-sort-value": "230115"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        text: "1 Aug 2011",
        attributes: {
          "data-sort-value": "110801"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        html: 'Not yet inspected',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: 'Not yet inspected',
        attributes: {
          "data-sort-value": "Not yet inspected"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        text: "14 Feb 2022",
        attributes: {
          "data-sort-value": "220214"
        }
      },
      {
        text: "Yes",
        attributes: {
          "data-sort-value": "Yes"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        text: "14 Feb 2022",
        attributes: {
          "data-sort-value": "220214"
        }
      },
      {
        text: "No",
        attributes: {
          "data-sort-value": "No"
        }
      },
      {
        html: 'Report card',
        attributes: {
          "data-sort-value": 'Report card'
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      },
      {
        html: 'Full inspection',
        attributes: {
          "data-sort-value": "Full inspection"
        }
      },
      {
        text: "15 Jan 2022",
        attributes: {
          "data-sort-value": "220115"
        }
      }
    ]
    
  ]
}) }}