{# Set before joining tag #}
{# {% set beforeJoiningTag %}
  {{ govukTag({
    text: "Before joining",
    classes: "govuk-tag--orange govuk-!-margin-top-1"
  }) }}
{% endset %} #}

{# Set After joining tag #}
{# {% set afterJoiningTag %}
  {{ govukTag({
    text: "After joining",
    classes: "govuk-!-margin-top-1"
  }) }}
{% endset %} #}

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  caption: "Inspections after September 2024",
  captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-5",
  classes: "si-row-colours-table",
  head: [
    {
      text: "School name",
      classes: "table-col--20",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Quality of education",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Behaviour and attitudes",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Personal development",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Leadership and management",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Effective safeguarding",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Category of concern",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Abbey Church of England Primary Academy</a>"
      },
      {
        text: "Inadequate",
        attributes: {
          "data-sort-value": "Inadequate"
        }
      },
      {
        text: "Outstanding",
        attributes: {
          "data-sort-value": "Outstanding"
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": "Inadequate"
        }
      },
      {
        html: 'Requires improvement',
        attributes: {
          "data-sort-value": "Requires improvement"
        }
      },
      {
        html: 'Good',
        attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Bourne Elsea Park Church of England Primary Academy</a>"
      },
      {
        text: "Not applicable",
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        text: "Not applicable",
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": 'Not applicable'
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": "Not applicable"
        }
      },
      {
        html: 'Not applicable',
        attributes: {
          "data-sort-value": 'Not applicable'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Colsterworth Church of England Primary School</a>"
      },
      {
        text: "Requires improvement",
        attributes: {
          "data-sort-value": "Requires improvement"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        text: "Good",
        attributes: {
          "data-sort-value": "Good"
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Grunge academy</a>"
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Outstanding',
         attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Biscuit academy</a>"
      },
      {
        html: 'Outstanding',
         attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Outstanding',
         attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: 'Not inspected',
        attributes: {
          "data-sort-value": "Not inspected"
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Strawberry academy</a>"
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Coffee academy</a>"
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Outstanding',
         attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A longer name academy</a>"
      },
      {
        html: 'Outstanding',
         attributes: {
          "data-sort-value": "Outstanding" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another longer named academy</a>"
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>A long name voluntary academy</a>"
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": "Inadequate"
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Orange voluntary academy</a>"
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ],
    [
      {
        html: "<a href='#'' class='govuk-link'>Another academy with the longest name to test</a>"
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Inadequate',
        attributes: {
          "data-sort-value": 'Inadequate'
        }
      },
      {
        html: 'Good',
         attributes: {
          "data-sort-value": "Good" 
        }
      }
    ]
  ]
}) }}