{{ govukServiceNavigation({
    navigation: [
        {
        href: "#",
        text: "Overview",
        active: true if navActive == "overview"
        }, {
        href: "pupils-capacity",
        text: "Pupils",
        active: true if navActive == "pupils"
        }, {
        href: "school-contacts",
        text: "Contacts",
        active: true if navActive == "contacts"
        }, {
        href: "school-ofsted",
        text: "Ofsted",
        active: true if navActive == "ofsted"
        }, {
        href: "school-governance",
        text: "Governance",
        active: true if navActive == "governance"
        }
    ]
}) }}