{% set overviewTable %}
    {% include "../tables/attendance-overview.njk" %}
{% endset -%}

{# {% set 2024table %}
    {% include "../tables/attendance-2024.njk" %}
{% endset -%} #}

{# {% set 2023table %}
    {% include "../tables/attendance-2023.njk" %}
{% endset -%} #}

{# {% set 2022table %}
    {% include "../tables/attendance-2022.njk" %}
{% endset -%} #}

{# {% set 2021table %}
    {% include "../tables/attendance-2021.njk" %}
{% endset -%} #}

{{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "attendance-overview-table",
      panel: {
        html: overviewTable
      }
    },
    {
      label: "2024",
      id: "attendance-2024-table",
      panel: {
        html: 2024table
      }
    },
    {
      label: "2023",
      id: "attendance-2023-table",
      panel: {
        html: 2023table
      }
    },
    {
      label: "2022",
      id: "attendance-2022-table",
      panel: {
        html: 2022table
      }
    },
    {
      label: "2021",
      id: "attendance-2021-table",
      panel: {
        html: 2021table
      }
    }
  ]
}) }}