{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Capacity',
    href: 'pupils-capacity',
    active: true if subNavActive == "capacity"
  }, {
    text: 'Attendance',
    href: 'pupils-attendance',
    active: true if subNavActive == "attendance"
  }, {
    text: 'Percentages',
    href: 'pupils-percentages',
    active: true if subNavActive == "percentages"
  }
  ]
}) }}