{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class="govuk-body">
        <span class='govuk-!-font-weight-bold'>Population:</span>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li class="">
            All information was taken from Compare School and College Performance in England on 26 August 2025
        </li>
    </ul>

    <p class="govuk-body">
        <span class='govuk-!-font-weight-bold'>Attendance:</span>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li class="">
            All information was taken from Compare School and College Performance in England on 26 August 2025
        </li>
    </ul>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}