{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of content #}
{% set docNotExpected %}
    <p class='govuk-body'>
        <p class="govuk-body">We include links to any financial documents we have received in the last 3 years.</p>
        <p class="govuk-body">If a trust <strong>does not</strong> submit a document before the deadline we show this as 'not submitted' until we receive it.</p>
        <p class="govuk-body">If a document <strong>could not have been</strong> submitted, for example because a trust had not formed until after that year, we say that it was 'not expected'. </p>
        <p class="govuk-body">Financial statements cover one year from 1 September to 31 August.</p>
  <p class="govuk-body">The deadline for submission is 31 December.</p>
    </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: 'Why a document might not be expected',
  html: docNotExpected
}) }}




