{% set overviewTable %}
    {% include "../tables/capacity-overview.njk" %}
{% endset -%}

{% set 2024table %}
    {% include "../tables/capacity-2024.njk" %}
{% endset -%}

{% set 2023table %}
    {% include "../tables/capacity-2023.njk" %}
{% endset -%}

{% set 2022table %}
    {% include "../tables/capacity-2022.njk" %}
{% endset -%}

{% set 2021table %}
    {% include "../tables/capacity-2021.njk" %}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "capacity-overview-table",
      panel: {
        html: overviewTable
      }
    },
    {
      label: "2024",
      id: "capacity-2024-table",
      panel: {
        html: 2024table
      }
    },
    {
      label: "2023",
      id: "capacity-2023-table",
      panel: {
        html: 2023table
      }
    },
    {
      label: "2022",
      id: "capacity-2022-table",
      panel: {
        html: 2022table
      }
    },
    {
      label: "2021",
      id: "capacity-2021-table",
      panel: {
        html: 2021table
      }
    }
  ]
}) }}