{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class="govuk-body">Financial documents are held and maintained by the Education and Skills Funding Agency's Data Science team.</p>
    <p class="govuk-body">We check for new submissions every day.</p>
    <p class-"govuk-body">
        To get help or report a problem with a financial document, email <a href="#">AcademiesFinancialMonitoring.EFA@education.gov.uk</a>
    </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}