{% from "govuk/components/details/macro.njk" import govukDetails %}

{# If a name or email address has been set outside of the default Joe Bloggs, then set a 
currentData variable of today #}
{% if (data['trmName']) or (data['trmEmail']) %}
    {% set currentDate = "today" | govukDate %}
{% else %}
    {% set currentDate = "28 July 2024" %}
{% endif %}

{# Set up a bunch of source and updates content #}
{% set sourceUpdatesContent %}
    <p class="govuk-body">Where its come from etc etc</p>
    <p class-"govuk-body">
        Email these people if there's an issue with a document <a href="#">AcademiesFinancialMonitoring.EFA@education.gov.uk</a>
    </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: "Where this information came from",
  html: sourceUpdatesContent
}) }}