{# Set up the macro by including the recurring bits for each item #}
{% macro singleReport(title="'title'", description="'description'", linktext="'linktext'", link="'#'") %} 

<div class="single-report">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">{{title}}</h3>
    <p class="govuk-hint">{{description}}</p>
    {{ govukButton({
        text: linktext,
        href: link,
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
    }) }}
</div>

{% endmacro %}

<h2 class="govuk-heading-m">School and academy information</h2>

{{singleReport(title="School and academy overview", description="Basic information about schools and academies in the region.", link="../reports/region/report-region-ala-overview", linktext="View overview report")}}
{{singleReport(title="Contacts", description="School and DfE contacts in the region.", link="../reports/region/report-region-ala-contacts", linktext="View contacts report")}}
{{singleReport(title="Ofsted", description="Single headline grades and inspection dates in the region.", link="#", linktext="View Ofsted report")}}
{{singleReport(title="Pupils (current year only)", description="School capacity, attendance and populations in the region.", link="#", linktext="View pupils report")}}
{{singleReport(title="Governance", description="School governors in the region.", link="#", linktext="View governance report")}}