<table class="govuk-table">
    
    <caption class="govuk-table__caption govuk-table__caption--s">2021</caption>
    
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                <span class="govuk-visually-hidden">Data type</span>
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Autumn</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Summer</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Spring</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">

        {# Eligible pupils with EHC plan #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">Eligible pupils with EHC plan</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">9 (6%)</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">10 (8%)</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">9 (4%)</td>
        </tr>

        {# Eligible pupils with SEN support #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">Eligible pupils with SEN support</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">13 (10%)</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">13 (10%)</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">14 (11%)</td>
        </tr>

        {# % English as an additional language #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">English as an additional language</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (3%)</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">2 (1%)</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">2 (1%)</td>
        </tr>

        {# % Eligibile for free school meals #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">Eligibile for free school meals</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">22 (14%)</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">26 (17%)</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">27 (18%)</td>
        </tr>

        {# % LAC (Looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">LAC (Looked after children)</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">2 (1%)</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">4 (4%)</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">4 (4%)</td>
        </tr>

        {# % PLAC (Post looked after children) #}
        <tr class="govuk-table__row">
            {# Data type #}
            <th class="govuk-table__cell">PLAC (Post looked after children)</th>

            {# Autumn #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>

            {# Summer #}
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>

            {# Spring #}
            <td class="govuk-table__cell govuk-table__cell--numeric ">0</td>
        </tr>

    </tbody>
</table>