{{ govukTable({
  caption: "Historic governors",
  captionClasses: "govuk-table__caption--m",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Name",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Role",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Appointed by",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "From",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "To",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Rich Tea"
      },
      {
        text: "Chair of local governing body",
        attributes: {
          "data-sort-value": "Chair of local governing body"
        }
      },
      {
        text: "Elected by school staff",
        attributes: {
          "data-sort-value": "Elected by school staff"
        }
      },
      {
        text: "11 Dec 2022",
        attributes: {
          "data-sort-value": "221211"
        }
      },
      {
        text: "10 Dec 2026",
        attributes: {
          "data-sort-value": "261210"
        }
      }
    ],
    [
      {
        text: "Barry Bourbon"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Appointed by board",
        attributes: {
          "data-sort-value": "Appointed by board"
        }
      },
      {
        text: "4 Feb 2022",
        attributes: {
          "data-sort-value": "220204"
        }
      },
      {
        text: "3 Feb 2026",
        attributes: {
          "data-sort-value": "220203"
        }
      }
    ],
    [
      {
        text: "Carol Cream"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Appointed by board",
        attributes: {
          "data-sort-value": "Appointed by board"
        }
      },
      {
        text: "14 Nov 2022",
        attributes: {
          "data-sort-value": "221114"
        }
      },
      {
        text: "17 Nov 2026",
        attributes: {
          "data-sort-value": "261117"
        }
      }
    ],
    [
      {
        text: "Jenny Dodger"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Appointed by board",
        attributes: {
          "data-sort-value": "Appointed by board"
        }
      },
      {
        text: "21 Nov 2022",
        attributes: {
          "data-sort-value": "221121"
        }
      },
      {
        text: "25 Nov 2026",
        attributes: {
          "data-sort-value": "261125"
        }
      }
    ]
  ]
}) }}