{{ govukTable({
  caption: "Current governors",
  captionClasses: "govuk-table__caption--m",
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Name",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Role",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Appointed by",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "From",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "To",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Peter Parsnip"
      },
      {
        text: "Chair of governors",
        attributes: {
          "data-sort-value": "Chair of governors"
        }
      },
      {
        text: "Elected by parents",
        attributes: {
          "data-sort-value": "Elected by parents"
        }
      },
      {
        text: "19 Dec 2022",
        attributes: {
          "data-sort-value": "221219"
        }
      },
      {
        text: "21 Dec 2026",
        attributes: {
          "data-sort-value": "261221"
        }
      }
    ],
    [
      {
        text: "Caroline Carrot"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Elected by parents",
        attributes: {
          "data-sort-value": "Elected by parents"
        }
      },
      {
        text: "4 Feb 2022",
        attributes: {
          "data-sort-value": "220204"
        }
      },
      {
        text: "3 Feb 2026",
        attributes: {
          "data-sort-value": "220204"
        }
      }
    ],
    [
      {
        text: "Billy Brocoli"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Appointed by GB/board",
        attributes: {
          "data-sort-value": "Appointed by GB/board"
        }
      },
      {
        text: "13 Nov 2022",
        attributes: {
          "data-sort-value": "221113"
        }
      },
      {
        text: "16 Nov 2026",
        attributes: {
          "data-sort-value": "261113"
        }
      }
    ],
    [
      {
        text: "Sally Swede"
      },
      {
        text: "Governor",
        attributes: {
          "data-sort-value": "Governor"
        }
      },
      {
        text: "Appointed by LA",
        attributes: {
          "data-sort-value": "Appointed by LA"
        }
      },
      {
        text: "21 Nov 2022",
        attributes: {
          "data-sort-value": "221121"
        }
      },
      {
        text: "21 Nov 2026",
        attributes: {
          "data-sort-value": "261121"
        }
      }
    ]
  ]
}) }}