{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {# {{ serviceName }} current prototypes #}
      Current prototypes
    </h1>

    <p class="govuk-caption-l">
      Prototypes of features and iterations designed for the FIAT project, during the Beta phase (30th September 2024 onwards).
    </p>

    <p class="govuk-body-m govuk-!-margin-top-5">
      View the FIAT prototype archive to see prototypes which were taken through to development and released to the live product.
    </p>

    {{ govukButton({
      text: "View the prototype archive",
      classes: "govuk-button--secondary",
      href: "old-protos"
    }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    {# 200106-finance-docs #}
    {% include "/200106-finance-docs/index-content/content.njk" %}
    
    {# 197320-ALA-pupils-tables #}
    {% include "/197320-ALA-pupils-tables/index-content/content.njk" %}

    {# 176279-pipelines #}
    {% include "/176279-pipelines/index-content/content.njk" %}

  </div>
</div>

{% endblock %}
