{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-caption-l">
      Prototypes of features and iterations designed for the FIAT project, during the Beta phase (30th September 2024 onwards).
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {# Change a DfE contact #}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
      Change a DfE contact
    </h2>

    <p class="govuk-caption-m">
      A feature to allow users to make a change to data within a block under "DfE contacts", block on the "Contacts" sub-page of a trust.
    </p>
    <p class="govuk-body">The prototype begins with the <a href="/pages/trusts/contacts" class="govuk-link govuk-!-font-weight-bold">Contacts</a> page.</p>

    {# Change a DfE contact MvP #}
    {% include "/index-content/change-a-dfe-contact/mvp.njk" %}

    {# Change a DfE contact MvP+ #}
    {% include "/index-content/change-a-dfe-contact/mvp+.njk" %}

  </div>
</div>

{% endblock %}
