{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {# {{ serviceName }} prototype archive #}
      Prototype archive
    </h1>

    <p class="govuk-caption-l">
      Older feature prototypes for the FIAT project, which were iterated and tested before being built and released to the live product.
    </p>

    <p class="govuk-body-m govuk-!-margin-top-5">
      View current FIAT prototypes which are being iterated and built, ready for the live product.
    </p>

    {{ govukButton({
      text: "View current prototypes",
      classes: "govuk-button--secondary",
      href: "index"
    }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {# 197710-ALA-overview #}
    {% include "/197710-ALA-overview/index-content/content.njk" %}

    {# 197673-ALA-contacts #}
    {% include "/197673-ALA-contacts/index-content/content.njk" %}

    {# reporting #}
    {% include "/reporting/index-content/content.njk" %}

    {# 190155-internal-use-only #}
    {% include "/190155-internal-use-only/index-content/content.njk" %}
    
    {# 200106-finance-docs #}
    {% include "/200106-finance-docs/index-content/content.njk" %}

    {# 176279-pipelines #}
    {% include "/176279-pipelines/index-content/content.njk" %}

    {# 193768-ofsted-shg #}
    {% include "/193768-ofsted-shg/index-content/content.njk" %}
    
    {# 189473-sources-updates #}
    {% include "/189473-sources-updates/index-content/content.njk" %}

    {# 183585-ofsted #}
    {% include "/183585-ofsted/index-content/content.njk" %}

    {# 171804-nav-ui-updates #}
    {% include "/171804-nav-ui-updates/index-content/content.njk" %}

    {# 178572-change-dfe-contact #}
    {% include "/178572-change-dfe-contact/index-content/content.njk" %}

  </div>
</div>

{% endblock %}
