{% extends "/183585-ofsted/mvp/layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "ofsted" %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      Ofsted
  </h2>

{# Sub-nav to flick through data sets #}
{% include "../parts/ofsted-sub_nav.njk" %} 

{# Tabs to flick through tables #}
{% include "../tables/details.njk" %}

<hr class="govuk-section-break govuk-section-break--s">

{# Sources and updates #}
{% include "/183585-ofsted/mvp/parts/sources-updates.njk" %}

{% endblock %}