{% extends "/183585-ofsted/mvp/layouts/trust_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite primary nav item #}
{% set navActive = "ofsted" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "headlines" %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      Ofsted
  </h2>

{# Guidance content set #}
{% set ofstedSubjudgementGuidance %}
  <p class="govuk-body">
    You can download a spreadsheet containing this information and ratings from the previous inspection if the academy has had one.
  </p>
  {{ govukButton({
    text: "Download Ofsted data",
    classes: "govuk-button--secondary",
    href: "#"
  }) }}
{% endset %}

{# Guidance content #}
{# {{ govukInsetText({
  html: ofstedSubjudgementGuidance
}) }} #}

{# Sub-nav to flick through data sets #}
{% include "../parts/ofsted-sub_nav.njk" %}

<p class="govuk-body">Click on a school's name to open its Ofsted page in a new tab.</p>

{# Effective safeguarding and Category of concern explainers #}
{% include "/183585-ofsted/mvp/parts/explainer-COCandES.njk" %}

<hr class="govuk-section-break govuk-section-break--s">

{# Tables #}
{% include "../tables/headlines.njk" %}

<hr class="govuk-section-break govuk-section-break--s">

{# Category of concern #}
{# {% include "/183585-ofsted/mvp/parts/explainer-catOfConcern.njk" %} #}

{# Effective safeguarding #}
{# {% include "/183585-ofsted/mvp/parts/explainer-effectiveSafeguarding.njk" %} #}

{{ govukButton({
    text: "Download Ofsted data",
    classes: "govuk-button--secondary",
    href: "#"
  }) }}

{# Sources and updates #}
{% include "/183585-ofsted/mvp/parts/sources-updates.njk" %}

{% endblock %}