{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
  {
    text: 'Single Headline Grades (SHG)',
    href: 'ofsted-shg',
    active: true if subNavActive == "shg"
  },
  {
    text: 'Current ratings',
    href: 'ofsted-subjudgements',
    active: true if subNavActive == "subjudgements"
  },
  {
    text: 'Previous ratings',
    href: '#'
  }, {
    text: 'Important dates',
    href: 'ofsted-dates',
    active: true if subNavActive == "dates"
  },
  {
    text: 'Safeguarding and concerns',
    href: 'ofsted-safeguarding-concerns',
    active: true if subNavActive == "safeguarding and concerns"
  }
  ]
}) }}