<h3 class="govuk-heading-m">
    Contacts at DfE
</h3>

{# Trust relationship manager contact #}
{{ govukSummaryList({
    card: {
    title: {
        text: "Trust relationship manager"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
            text: "Name"
        },
        value: {
            html: data['trmName'] | default("Joe Bloggs")
        }
    },
    {
        key: {
            text: "Email address"
        },
        value: {
            html: data['trmEmail'] | default("<a href='mailto:joe.bloggs@education.gov.uk'>joe.bloggs@education.gov.uk</a>")
        }
    }
    ]
}) }}

{# SFSO (Schools financial support and oversight) lead #}
{{ govukSummaryList({
    card: {
    title: {
        text: "SFSO (Schools financial support and oversight) lead"
    },
    actions: {
        items: [
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "details of this contact"
        }
        ]
    }
    },
    rows: [
    {
        key: {
        text: "Name"
        },
        value: {
        html: "Jayne Bloggs"
        }
    },
    {
        key: {
        text: "Email address"
        },
        value: {
        html: "<a href='mailto:jayne.bloggs@education.gov.uk'>jayne.bloggs@education.gov.uk</a>"
        }
    }
    ]
}) }}