{% set serviceName = "Testing of a template" %}
{% extends "layouts/main.html" %}

<!-- add elements that we want consistently across the service -->

{% block pageTitle %}
    {{pageTitle}} - {{serviceName}} - GOV.UK
{% endblock %} 

{% block header %}  
    {{ govukHeader({    
        homepageUrl: "/" + folder + "/",    
        serviceName: serviceName,    
        serviceUrl: "/",    
        containerClasses: "govuk-width-container"  
    }) }} 
{% endblock %}  

{% block beforeContent %}
    {{ govukPhaseBanner({  
        tag: {    
            text: "Beta"  
        },  
        html: "This is a test and needs updating"
    }) }}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">  

            <!-- start of body content block -->

            {% block body %}
                
            {% endblock %}

            <!-- end body content block-->
        </div>
    </div>  
{% endblock %}