{% extends "/221337-religious-characteristics/mvp/layouts/school_layout.njk" %}

{# Set sub page word to use in pageTitle (e.g. tab title) #}
{# {% set subPage = "Academies details" %} #}

{# Set an active state on the appropraite side nav item #}
{% set navActive = "overview" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subNavActive = "sen" %}

{# Custom block for the main content area of a trust page #}
{% block schoolContent %}

  <h2 class="govuk-heading-l">
      Overview
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "../parts/ala-sub_nav-school.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    <h3 class="govuk-heading-m">SEN (special educational needs)</h3>

    <h4 class="govuk-visually-hidden">Special educational needs resource</h4>

    {# List of SEN resource #}
    {% include "/221337-religious-characteristics/mvp/lists/ala-list-school-sen-resource" %}

    <hr class="govuk-section-break govuk-section-break--m">

    <h4 class="govuk-visually-hidden">Special educational needs provision</h4>

    {# List of SEN provision #}
    {% include "/221337-religious-characteristics/mvp/lists/ala-list-school-sen-provision" %}

    <hr class="govuk-section-break govuk-section-break--m">

    {# Sources and updates #}
    {% include "/221337-religious-characteristics/mvp/parts/ala-component-school-sources-updates" %}

    </div>
  </div>

{% endblock %}