{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set up a bunch of content #}
{% set COCandES %}
    <p class='govuk-body'>
      <span class="govuk-!-font-weight-bold">'Effective safeguarding'</span> means that a school has been judged to have adequate safeguarding policies and processes in place. It reviews them regularly and implements them well.
    </p>
    <p class='govuk-body'>
      <span class="govuk-!-font-weight-bold">'Category of concern'</span> means that a school has been found inadequate in a key or provision judgement. The school either has ‘serious weaknesses’ or requires ‘special measures.’
    </p>
{% endset %}

{# Display it all in a details component #}
{{ govukDetails({
  summaryText: 'What this information means',
  html: COCandES
}) }}